[2016-01-12 21:16] RonRahaman opened #1 "WebHook test"
This is a test to trigger a web hook for buildbot.

[2016-01-12 21:19] #1 closed

[2016-02-10 01:26] maxhutch opened #4 "Improve flexibility of travis tests."
Right now, travis just greps and diffs to check results against previously computed output logs.  This isn't flexible enough to test things like lz4.

[2016-04-14 14:58] maxhutch opened #8 "Fast checksum for restart files"
The restart files get big, so they could be prone to corruption.  We could compute a checksum to store in the header and then notify the user on data corruption.

This is @michel2323 's idea.

[2016-06-07 15:24] RonRahaman opened #11 "Character limit for strings"
It would be great if we could increase the character limit for strings.

Right now, the limit for many strings is 132 characters.  I've often exceeded this limit when using absolute pathnames in the SESSION.FILE.

Is there any reason this limit can't be increased?

[2016-06-07 15:29] maxhutch commented on #11
I would also like to see this changed.  My workflows use self-describing paths, which get long.  I've frequently had shorten case names.

[2016-06-14 15:17] maxhutch opened #15 "scripts with argument parsing"
The bash scripts are very simple (good) but also very picky and not self-documenting (bad).  It would be nice to have a more generic run script with real argument parsing and a help message.

@RonRahaman do you have anything in mind?

[2016-06-14 15:34] RonRahaman commented on #15
This is what I have in **RonRahaman/NekTests-deprecated/unittests_plus_examples**

[code]

[2016-06-29 16:01] maxhutch opened #16 "unported path in postnek's makefile"
[This line](https://github.com/Nek5000/nek5000/blob/develop/tools/postnek/makefile#L80) was only half ported: the blas dependency still points to nek/blas instead of core/blas

[2016-06-30 20:01] maxhutch opened #17 "makenek.inc can't detect compiler version on cray"
On newer crays, the compiler vendor (e.g. intel, gfortran, pgi) is selected via the module programming environment.  The fortran compiler is always invoked with `ftn`, so the `case $F77comp in` line in `makenek.inc` is unable to detect the compiler vendor and often offers incorrect flags.

I don't know if there is a standard way for figuring out which backend is in use.  Maybe `module list` with s

[2016-07-01 15:18] RonRahaman commented on #16
@maxhutch, is nek5000/3rd_party/ an artifact?  Should it be deleted?

[2016-07-01 18:46] maxhutch commented on #16
No.  That's a landing point for 3rd_party add-ons, e.g. KTH's toolbox.  It
should stay empty.

On Fri, Jul 1, 2016 at 11:18 AM Ron Rahaman notifications@github.com
wrote:

[2016-07-12 19:16] maxhutch commented on #16
Fixed in #22

[2016-07-12 19:16] #16 closed, assigned to nobody

[2016-07-13 11:40] maxhutch opened #23 "Why does 3rd order restart need 4 files?"
Nek5000 typically uses a 3rd order time-stepper (BDF/EX3).  To do a full restart, which avoids a drop in integration order, you'd expect to need 3 checkpoint frames.  However, in Nek5000 you need 4.  Why?

CC: @oanaoana

[2016-07-13 15:59] lcarasik opened #24 "Alignment of output in the logfile"
The logfile provides us with a large amount of useful information but isn't aligned to make it easier to read. I've previously discussed this with @dshaver-ANL and @maxhutch and it seems like it should be a reasonable "improvement" to the code. Further, utilizing @dshaver-ANL's help the following fortran files which specific lines called out are below:

hmholtz.f - line 829-832 - Format Statements

[2016-07-13 16:09] maxhutch commented on #24
I think this would be great!  By "iteration number" do you mean "[time-]step number", e.g. 14 and 15 in this case?

[2016-07-13 16:10] lcarasik commented on #24
Wonderful! And yes that was an error on my part, I meant the time-step number.

[2016-07-14 13:55] maxhutch opened #25 "Remove extra 'error' messages from run scripts"
Many of the run scripts have `mv` commands to back-up output files, e.g. [nekmpi:6](https://github.com/Nek5000/Nek5000/blob/develop/bin/nekmpi#L6):

[code]

When the output files aren't already present, these produce error messages that aren't actually errors.  This is confusing to users.  We should wrap those moves in if statements conditional on the existence of the file that is being moved.

[2016-07-15 15:48] stgeke commented on #17
Yes, _ftn_ is just a wrapper and not a compiler. We could use `ftn -craype-verbose` to identify the selected compiler. We do something similar (_-showme_) for mpif77.

[2016-07-15 15:56] maxhutch commented on #17
I like `ftn -craype-verbose` better than adding a new line to makenek.  I can verify that it works on XC40's.  When I switch to `PrgEnv-cray`, the first token is `ftn_driver.exe`.

@stgeke , can you repeat the `mpif77` logic?

[2016-07-15 16:02] stgeke commented on #17
Hmm, I expected the following output

[code]

similar to

[code]

[2016-07-15 16:06] maxhutch commented on #17
The machine that I'm on (Shaheen XC40 at KAUST) has `PrgEnv-{cray, intel, gnu}`, but no `pgi`.  Here are the return values:

[code]

@nicooff : Does Beskow have PGI compilers?

[2016-07-15 16:18] nicooff commented on #17
No, Beskow has only cray, intel and GNU compilers.

[2016-07-15 16:19] stgeke commented on #17
Ok, that's what we want. Let's add a test `$F77 -craype-verbose` similar to `-show` or `-showme`.

[code]

[2016-07-15 16:20] maxhutch commented on #17
Want to do it?  I'm not to be trusted with bash.

[2016-07-15 16:21] stgeke commented on #17
Sure, but I don't have access to a Cray machine.

[2016-07-15 16:21] maxhutch commented on #17
If you open a PR, I'll test it.

[2016-07-15 22:29] maxhutch opened #28 "move short tests into `short_tests`"
We planned on moving the tests that don't have large input files into `short_tests`.  This strikes a balance between including some tests and examples with the code while also keeping checkout lightweight.  Here's a list of some short tests.  In most cases, the mesh information needs to be stripped from the rea file and the map file removed.
- [ ] eddy
- [ ] benard

[2016-07-16 08:03] stgeke commented on #28
I think we don't need all three as they exercise all the same parts of the code. To obtain a good code coverage, we need to add other tests.

[2016-07-16 12:48] maxhutch commented on #28
Benard and eddy are different (forced vs not; scalar vs not).  We can remove kovasznay.  Do you have suggestions for additions (from `nek_examples`)?

[2016-07-16 14:48] #17 closed, assigned to nobody

[2016-07-16 14:51] maxhutch opened #29 "Add Cray programming environment support"
`PrgEnv-cray` expands the `ftn` wrapper to `ftn_driver.exe  ...`  This compiler is not supported in makenek.inc.  I believe the right flags are:

[code]

[2016-07-16 15:22] stgeke commented on #28
For me a short_test is:
- serial runtime < 1-2min
- size < 500K
- workflow and test answer is fully automated
- improves code (feature) coverage

The following existing nek/examples come to mind:
- eddy
- kov
- benard
- lowMach
- var_vis
- mv_cyl
- axi
  May be there are more, but I guess that¹s a good starting point.

@RonRahaman What needs to be done to run all these tests for every push?

[2016-07-18 20:34] lcarasik opened #32 "Potential inconsistency in User Manual for uservp routine"
In the user manual,
![udiff_utrans](https://cloud.githubusercontent.com/assets/19592378/16928898/bf859280-4cfa-11e6-845b-9714d61088f9.png)
it states that the udiff is the term for density (or rho*cp, etc) and utrans is the term for viscosity (visc, thermal conductivity, etc). This is counter to what has been stated in this nek5000 user post: http://lists.mcs.anl.gov/pipermail/nek5000-users/2014-De

[2016-07-18 20:56] emerzari commented on #32
Good catch. The manual is wrong.

On Jul 18, 2016, at 3:34 PM, Lane Carasik <notifications@github.com<mailto:notifications@github.com>> wrote:

In the user manual,
[udiff_utrans]https://cloud.githubusercontent.com/assets/19592378/16928898/bf859280-4cfa-11e6-845b-9714d61088f9.png
it states that the udiff is the term for density (or rho*cp, etc) and utrans is the term for viscosity (visc, thermal co

[2016-07-18 20:58] oanaoana commented on #32
Yes I know.. been panning to fix it for ages. Just things were moving about and didn't get to it.

[2016-07-18 21:01] lcarasik commented on #32
Ah ok, I would suggest leaving this open until it is resolved. That way, an easily searchable item for users can be found. Just thoughts.

[2016-07-22 18:14] RonRahaman commented on #28
@stgeke, here is what needs to be done.  I'll start on all of these today:
- [ ] Copy those examples from NekExamples into Nek5000/short_tests
- [ ] Copy the NekTests.py script and libraries from NekExamples to Nek5000/short_tests
- [ ] Edit the .travis.yml file to run these tests in Travis

This will allow those tests to be run for every pull request.

You can also set up your own Travis account

[2016-07-22 18:33] RonRahaman commented on #28
@stgeke, which benard test cases did you want to do?  There are several .rea files we can run

[2016-07-26 14:40] #29 closed, assigned to maxhutch

[2016-07-29 16:39] lcarasik commented on #32
Can this be reopened? It hasn't been updated on the nek5000 website here: https://nek5000.mcs.anl.gov/documentation/

[2016-07-29 16:46] stgeke commented on #32
I think this should go to the nekdoc repository.

[2016-07-29 17:12] lcarasik commented on #32
Understood. Thanks!

[2016-07-29 17:30] RonRahaman commented on #28
Closed in #41

[2016-07-29 17:30] #28 closed, assigned to RonRahaman

[2016-07-29 17:42] RonRahaman opened #44 "Run Travis tests with 2 MPI ranks"
Traditionally, Nek's parallel test cases have been run with 4 MPI ranks.  However, each Travis virtual environment only provides a maximum of 2 cores ([reference](https://docs.travis-ci.com/user/ci-environment/#Virtualization-environments)).  This likely contributes to the considerable slowdown of Nek's parallel test cases in Travis.

As @stgeke suggested, we could probably improve turnaround time

[2016-07-29 17:56] RonRahaman commented on #32
Hey @lcarasik, thanks for fixing this in NekDoc.  To update the [HTML](http://nek5000.github.io/NekDoc/Nek_users.html) and [PDF](http://nek5000.github.io/NekDoc/Nek_users.pdf) docs, a member of the Nek5000 [Documenters](https://github.com/orgs/Nek5000/teams/documenters) team must checkout the NekDoc repo and run the 'make gh-pages' target.

I just did this.  Could you confirm that your changes app

[2016-07-29 18:10] lcarasik commented on #32
They are corrected! Sorry for my inexperience!

[2016-07-29 18:10] #32 closed, assigned to nobody

[2016-07-29 18:23] RonRahaman commented on #32
No worries, it a pretty obscure workflow.  :)

[2016-07-31 17:26] stgeke opened #46 "Explain our github workflow on the wiki"
Just created the following wiki article
https://github.com/Nek5000/Nek5000/wiki/GitHub-workflow-and-branching-conventions

My main motivation was to summarize the basic concepts so that a newbie (like me) knows what to do. I am happy to discuss the suggested workflow and conventions.

[2016-07-31 17:38] maxhutch commented on #46
Yes, this is great!  I took a look at what you've written.

Do we want to impose a 1-to-1 mapping between issues and branches.  I had thought we'd start with a more flexible "feature branch" model, where feature deliberately doesn't quite line up with github vocab.  Those feature branches could be directed at one or more issues, but could also just be issue-less quick tweaks to exploring new ideas

[2016-07-31 17:46] stgeke commented on #46
I like the 1-to-1 mapping because it forces you to commit as small and atomic as possible. You also get a good understanding what the change is about. Sometimes this gets lost in translation using a 'commit message'. Sure, on that other hand it's not very flexible and for quick tweaks it's too heavy.

[2016-07-31 17:49] maxhutch commented on #46
Yeah, I think its good to exclude one (branch) to many (issues).  I'm more
concerned with one (branch) to zero (issues): expecting the creation of an
issue to go along with the creation of a branch, especially because the
pull request itself has the ability to record a conversation about that
merge.

On Sun, Jul 31, 2016 at 10:46 AM Stefan Kerkemeier notifications@github.com
wrote:

[2016-07-31 18:02] stgeke commented on #46
I am with you on that. How do you know who is working on what? Even with a descriptive branch name it's hard to get. Any ideas?

[2016-07-31 18:07] maxhutch commented on #46
Right now, you don't.   Nek5000 development is decoupled enough that the
likelihood of duplicating effort is naturally low.  Maybe KTH is more
tightly coupled, in which case they might want to form their own
convention, but what they want to do internally might not suit Argonne or
UIUC.

In other words, if you want everyone else to be aware of what you are
working on, then you should create a corr

[2016-07-31 18:18] stgeke commented on #46
Sounds good to me.

[2016-07-31 18:31] maxhutch commented on #46
Let's give people a chance to chime in.  Plan on closing this on Wednesday (post-group meeting)?  @RonRahaman , I'm still out of town if you want to bring it up.

[2016-07-31 18:44] RonRahaman commented on #46
Yes, I will.

@stgeke, I really like your clear use of issue branches, and I think we should  to present that as the endorsed method (just as you did in your wiki post).

As @maxhutch  suggested, I"m also happy to allow people to relax their use of issue branches at their discretion..

[2016-08-03 16:32] dshaver14 commented on #24
Something like this would be ideal, where the format string is (4x,i7,a21,i4,(N)ES13.4).  Or anything that makes it easy to see whichever number I care most about as it flies by with the time step.

![image](https://cloud.githubusercontent.com/assets/20442860/17373461/e3fe154a-596d-11e6-8d96-f8fa127dc9b0.png)

[2016-08-03 17:27] RonRahaman commented on #24
This looks great to me.  Please feelfree to submit a pull request.

[2016-08-03 18:06] stgeke commented on #24
I'll submit a PR soon fixing this issue among other things.

[2016-08-03 18:22] maxhutch commented on #24
@stgeke keep the PRs as atomic as logically reasonable

[2016-08-05 10:20] ggiannako opened #47 "Code does not compile on BG/Q with the PPLIST="BGQ" flag"
The code does not compile on the BGQ with the PPLIST="BGQ" flag.
The mxm_wrapper.f and mxm_bgq.f contain f90 syntax. The code cannot compile neither with mpixlf90 nor with mpixlf77.

Even if the syntax in mxm_wrapper.f and mxm_bgq.f is converted to f77, we get “undefined references” to some blas routines at compile time.
The problem is not fixed either with the BLAS_MXM flag of PPLIST.

Are there

[2016-08-05 11:14] stgeke commented on #47
Yes, this needs to be fixed. For now, just do:
- [ ] Make mxm_wrapper.f conform to F77
- [ ] Change mxm_bgq.f from free to fixed format
- [ ] Add `blas.o` to `MXM_USER`

[2016-08-05 16:03] maxhutch commented on #47
PPLIST=`BGQ` isn't necessary to build on BGQ, so you can just take it out of the PPLIST.  I"ll fix these issues.

[2016-08-05 16:11] maxhutch commented on #47
@ggiannako : I think that I fixed it with #48 .  Can you test it out:

[code]

[2016-08-05 16:22] stgeke commented on #47
This change does not make the code F77 compliant.

[2016-08-05 16:23] ggiannako commented on #47
I know the code works without the PPLIST=BGQ flag, but one would want to benefit from the BGQ-specific mxm's...

However, the problem is not fixed with #48.
Only when all the changes suggested by @stgeke are made the code compiles and runs fine.

[2016-08-05 16:49] maxhutch commented on #47
I'm bad and I feel bad...

Try again?

[2016-08-06 11:10] stgeke opened #50 "ioinfo file is ignored"
On some machines the ioinfo file is ignored. Not sure why. Digging into it.

[2016-08-06 13:29] stgeke opened #52 "Reading input files in parallel"
A case with 4M elements and AMG needs more than 15min (on BGQ) to initialize. This is due to the poor I/O performance reading the input files (.re2, .map, AMG files) on MPI_RANK_0 only. A parallel-read would speed up things quite a bit.

[2016-08-06 13:43] pschlatt1 commented on #23
I support this issue as a very important issue to be resolved, in particular for large runs for which quite some saving (time and storage) could be achieved at zero cost. If anybody has a hint/suspicion it would be great!

[2016-08-06 13:45] stgeke commented on #23
@fischer1 Any idea?

[2016-08-06 16:45] fischer1 commented on #23
Because it works and 3 doesn't, last I checked.

Paul

---

From: Stefan Kerkemeier [notifications@github.com]
Sent: Saturday, August 06, 2016 8:45 AM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Mention
Subject: Re: [Nek5000/Nek5000] Why does 3rd order restart need 4 files? (#23)

@fischer1https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_fischer1&d=CwMCaQ&c=8hUWFZcy2Z-Za5rBPlktOQ&r=bBKUK

[2016-08-08 02:34] maxhutch commented on #23
NekBox (pn-pn only) is able to do full BDF3/EX3 restarts with only 3
checkpoints.  It checks reproducibility to 9 digits.  The math in NekBox
and Nek5000 should be the same so, in the absence of a mathematical reason
for needing 4, NekBox suggests Nek5000 should be able to get away with 3.
The difference is likely in the restart implementation somewhere, as it
differs the most between Nek5000 and

[2016-08-08 02:58] fischer1 commented on #23
Why only 9 digits?

---

From: Max Hutchinson [notifications@github.com]
Sent: Sunday, August 07, 2016 9:34 PM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Mention
Subject: Re: [Nek5000/Nek5000] Why does 3rd order restart need 4 files? (#23)

NekBox (pn-pn only) is able to do full BDF3/EX3 restarts with only 3
checkpoints. It checks reproducibility to 9 digits. The math in NekBox
and Nek5000 should be t

[2016-08-08 11:27] maxhutch commented on #23
9 because that's my default "within iterative tolerances" check.  I just
went back and all of the printed solution values are the same for all the
printed digits.  The trailing digit or two in the norm of the residual is
different in a few places, but that's ~1e-16.

On Sun, Aug 7, 2016 at 7:58 PM fischer1 notifications@github.com wrote:

[2016-08-09 14:22] RonRahaman opened #55 "Run serial Travis tests w/o MPI"
Right now, all the Travis tests are compiled and run with MPI.  That is, they are compiled with mpif77/mpicc and run with mpiexec.  For the serial tests, we simply run with `mpiexec -np 1`.

In Nek5000/NekExamples#15, @stgeke suggested that we compile/run serial tests without MPI.

[2016-08-10 00:04] #44 closed, assigned to RonRahaman

[2016-08-16 12:05] #24 closed, assigned to stgeke

[2016-08-16 12:11] stgeke opened #63 "Fast residual projection"
Robust but slow.

[2016-08-16 12:13] stgeke opened #64 "Make prenek and postnek independent of .rea"
This is needed for the new .par file workflow.

[2016-08-16 12:17] stgeke opened #65 "MPI tag limit"
Currently we do not comply with the MPI standard (maximum `tag value < 32768`) as we tag messages with `nid`.

[2016-08-16 13:55] RonRahaman opened #66 "Regression tests for tools"
Currently, there are no regression tests for the tools (prenek, postnek, genmap, genbox, etc).  As @stgeke suggested, we should consider adding some.

[2016-08-16 15:41] stgeke opened #68 "Code does not compile with implicit=none"
To fix this, we need to explicitly declare all variables used in all `INCLUDE` files.

I suggest to add a `SIZE.usr` (this file will live in user space). `SIZE`  (static file in the source) contains whatever we want to hide from the user (e.g. variable declarations or other internals). `SIZE` will include `SIZE.usr`. This is the cleanest solution I can think of and it improves the user experience

[2016-08-16 16:20] fischer1 commented on #68
The key step is to embed the declarations in all the INCLUDE files.

I'm not 100% certain why we need SIZE.usr ?   Can you remind me?  I recall
something like this from before --- Oh yes -- Now I know.   We need to declare
all the SIZE arrays too.

My suggested remedy:
1.  Put declarations in SIZE for all the Examples.
2.  Any existing SIZE files out there are either:

   (A)   They are OK because

[2016-08-16 17:25] pschlatt1 commented on #65
yes, however the code checks the maximum tag ID with MPI_TAG_UB.

[2016-08-16 17:28] stgeke commented on #65
Sure, but this check will not make us compliant. Cray typically support up to 2**21.

[2016-08-16 17:31] stgeke commented on #68
I am ok with your suggestion although I would prefer a SIZE.usr (containing all available parameters + optional user stuff) and SIZE (containing all declarations).

[2016-08-16 17:54] RonRahaman commented on #68
@stgeke, if you're going in this direction, then we shouldn't target the change for v16.0.0.  We should wait for the next major revision (v17.X.X) to change the interface (see http://semver.org/)

[2016-08-16 17:57] stgeke commented on #65
You specify lp in SIZE, nid will run from 1 ... #MPI-ranks < lp. You are find if lp<MPI_TAG_UB but what if you want to run on more MPI ranks.

[2016-08-16 17:59] stgeke commented on #68
I think we go with Paul's suggestion.

[2016-08-16 17:59] RonRahaman commented on #65
Then isn't that the fault of the MPI implementation?  We get MPI_TAG_UB from mpi_get_attr.  If MPI_TAG_UB doesn't accommodate the maximum ranks on the machine, then it's not the right implementation for that machine.  Then you send a nasty email to your sysadmin.

[2016-08-16 18:02] stgeke commented on #65
No! The MPI standard says MPI_TAG_UB has to be larger than 32768 (see above).

[2016-08-16 18:30] maxhutch commented on #63
What is this issue about?

[2016-08-16 19:00] pschlatt1 commented on #68
I would also agree with Paul's suggestion, i.e. that the declarations are directly in the SIZE file without an additional SIZE.usr. A slightly unrelated but still relevant question is where to put the declarations in the SIZE and other INCLUDE files; should the declarations be all at the end, the beginning or close to the parameters. I would vote for the last option, even though one needs to scrol

[2016-08-16 19:13] pschlatt1 commented on #65
Indeed, as @stgeke says we can only be sure to have 32768 tags, however most MPI implementations had many more in the past.
So I agree this is something one has to change at some point, but so far we could get around it as we still had 2**21=2M tags on the latest Cray. However, chances are that one gets a few bits more in the tag in the future. But sure, it is not standard compliant.

[2016-08-16 19:49] fischer1 commented on #68
Occasionally (twice in the last 3 decades) you run into a compiler that insists
on

DECLARE

then

COMMON BLOCK..

So, I would propose (sadly) that they are at the top.   I'll try to make it properly
condensed yet readable to maximize utility.

I'll do one of these now..

Paul

---

From: Philipp Schlatter [notifications@github.com]
Sent: Tuesday, August 16, 2016 2:00 PM
To: Nek5000/Nek5000
Cc: Fi

[2016-08-18 08:39] nicooff commented on #68
Hi,

Sorry for jumping in the conversation a bit late. I have my own branch with the definitions added to the include files:

https://github.com/nicooff/nek5000/tree/include_def

I am currently running all of my cases with 'implicit none' in the subroutines of the usr file and it worked fine so far. There might still be some errors or definitions missing but this could serve as a basis maybe!

The

[2016-08-18 09:15] stgeke commented on #68
That's great Nicolas!

Here are my thoughts on that:
- Let's add a SIZE template to core
- nfldmax, nmaxcom, nmaxl, nsessmax go into SIZE
- No need for MOAB, at least for now
- Yes, the declarations should go first
- Don’t know why there is a source in most userq in the examples. @fischer1 ?
- Make sure you the latest INCLUDE files from the release/v16.0.0 branch
- I think we should make the varia

[2016-08-18 12:54] fischer1 commented on #68
We don't need "source" and should take it out.

---

From: Stefan Kerkemeier [notifications@github.com]
Sent: Thursday, August 18, 2016 4:15 AM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Mention
Subject: Re: [Nek5000/Nek5000] Code does not compile with implicit=none (#68)

That's great Nicolas!

Here are my thoughts on that:
-   Let's add a SIZE template to core
-   nfldmax, nmaxcom, nmaxl, nsessmax g

[2016-08-18 13:08] stgeke commented on #65
How about your stuff @jlottes?
It looks like you are using the MPI rank to tag messages.

[2016-08-18 14:03] pschlatt1 commented on #68
Hi

are we still aiming for the v16 release with the typing of the common blocks (see @RonRahaman comment above)? @nicooff will be away the next ten days, but then we could do all the necessary changes, is that ok?
some comments on your comments:
- yes, a SIZE template is great. "SIZE-template"?
- nfldmax, nmaxcom, nmaxl, nsessmax need to go into SIZE with standard Nek size of 1 (why 1 btw, one co

[2016-08-18 14:46] RonRahaman commented on #68
IMO, pushing back the release date is not a problem at all.  @stgeke and @fischer1, please let us know if we actually have some external deadlines.

We're following a frequently-used release model described [here](http://nvie.com/posts/a-successful-git-branching-model/).  In using this model, one of the most important motivating factors is **prioritizing open issues**.  Once we decide to make a ne

[2016-08-18 15:44] RonRahaman opened #69 "text input in prex GUI (Ubuntu, OS X)"
@smaithal made me aware of some difficulties using prex in Ubuntu and OS X.  When you enter more than a few lines of text in the GUI, the prompt disappears below the bottom of the window, and resizing doesn't seem to help.

I've confirmed this on my MacBook.  It's running OS X 10.9.5 and [XQuartz 2.7.7](https://xquartz.macosforge.org/trac/wiki/X112.7.7).  When prenek is compiled, it links to /opt/

[2016-08-19 08:48] pschlatt1 commented on #68
what is the targeted date for v16.0.0?

[2016-08-19 09:17] stgeke commented on #68
I think we should aim for mid-September.

[2016-08-20 04:40] jlottes commented on #65
Yea, the MPI code in jl/ could probably use a re-thinking in how it does tags. I don't think I gave this too much thought at the time, and probably just used the MPI rank because it seemed as good a thing to choose as anything else. In retrospect, I don't think using the rank buys anything. It shouldn't be too hard to fix things.

[2016-08-24 14:12] njansson opened #72 "Bus error due to invalid datatype in dofcnt"
Since `ntot2` in `dofcnt` is implicitly declared as an `integer*4`, the call to `i8glsum` can/will (depending on arch.) cause a bus error (the argument is expected to be of type `integer*8`). See backtrace (from a non x86) below,

[code]

[2016-08-25 19:53] RonRahaman opened #74 "Using FFLAGS, etc, in makenek"
It would be very useful if makenek honored the following environment variables:
- F77
- FFLAGS
- CC
- CFLAGS
- CPPFLAGS
  makenek.inc could append the user's FFLAGS to whatever other flags it requires.  This is the default behavior for an autotools-derived build system, and I've seen many simple makefiles that do that as well.

It's a clean way for the users to customize their builds without manua

[2016-08-25 20:12] stgeke commented on #74
This enables us to run `makenek` with customized settings w/o manually editing the file. Note
`makenek` creates a makefile for you. It is not recommended to edit the makefile by hand.

[2016-08-25 20:17] RonRahaman commented on #74
Then you should remove this error message from makenek.inc

[code]

[2016-08-25 20:27] RonRahaman commented on #74
I mean, right now, if the user wants to set their own compiler flags, their only option is, in fact, to manually edit their makefile.  And apparently, that's endorsed by makenek.inc (but I agree, it shouldn't be)

I agree that it would be good to run makenek with user-defined F77, FFLAGS, etc.  However, we shouldn't prohibit users from running make with customized F77, FFLAGS, as well.  It's expec

[2016-08-25 20:35] stgeke commented on #74
You can use your own flags. Just add them to CC and F77 in makenek.
To run make instead of makenek is possible, but requires a major redesign of our build-system.

[2016-08-25 20:38] RonRahaman commented on #74
Can we at least separate F77 and FFLAGS in makenek?

[2016-08-26 08:12] stgeke commented on #74
You can set generic compiler flags using the G variable in `makenek`

[2016-08-26 08:20] adampep commented on #74
When it comes to specifying compilers and flags makenek.inc is not an optimal tool on cray, as all the compilers are wrapped up and named ftn. In this case we have to modify makenek.inc every time we change compiler module. Maybe it would be better to take it out from makenek.inc add single file e.g. system-compiler.h containing all the system specific variables (compilers, flags, commands), that

[2016-08-26 08:23] stgeke commented on #74
@adampep We fixed the ftn handling a few weeks ago.

[2016-08-26 09:24] njansson commented on #74
@stgeke but the current `ftn` fix assumes `PrgEnv-cray`, which depending on the purpose might not be the most optimal compiler on a Cray.

A better way would be to check for `ftn`, if true, then check if either `CRAY_PRGENVCRAY`, `CRAY_PRGENVINTEL`, `CRAY_PRGENVPGI`, `CRAY_PRGENVGNU`... is defined to figure out which backend compiler `ftn` wraps. Also, if the default case assumes Cray, it will not

[2016-08-26 09:25] stgeke commented on #74
No, we check what compiler the wrapper (ftn) is using. So it works with Cray, Intel or PGI. See here #17.

[2016-08-26 11:07] njansson commented on #74
@stgeke Nice! my bad. In that case I don't see why specifying flags in G wouldn't be sufficient on a Cray? @adampep

[2016-08-26 13:52] RonRahaman commented on #74
@stgeke, the G variable in makenek only applies to Fortran compilation, not C compilation.  If the user could set FFLAGS and CFLAGS, we could handle both.

[2016-09-01 10:39] nicooff commented on #68
Hi everyone,

I'm back to work and I am ready to finish this issue. In order to make sure that everyone agrees and to avoid overlap, here is what I plan to do before the release:
1. Add definitions to all the include files. What should be the order between common blocks and declaration? (cf. @pschlatt1 comment above). I'll also look in the Fortran77 standard if I find anything about the proper way

[2016-09-02 10:32] adampep opened #78 "user sections in runtime parameters"
It is continuation of discussion abut user space in the new runtime parameters scheme we had at user meeting. Right now there are a number of "userparam" in "general" section, but for toolboxes it would be good to have separate user sections as well. With Stefan we've concluded that it would be enough to modify slightly parameter check, so sections starting with 'U' would be skipped, and keeping d

[2016-09-03 14:42] #25 closed, assigned to maxhutch

[2016-09-05 12:16] stgeke commented on #63
@fischer1 Any chance to get this fixed with the new release?

[2016-09-05 17:29] lcarasik opened #84 "Issue when compiling postnek"
Hey all,

It seems that with the newest version of Nek5000 (September 5th) when running maketools, everything makes excluding postnek. That specific tool does not compile due to the following error:

![postnek_compile_issue](https://cloud.githubusercontent.com/assets/19592378/18254405/04badb92-7363-11e6-8e55-5434220312c3.PNG)

It seems the "blas.f" file got moved to /Nek5000/core/3rd_party directo

[2016-09-05 19:23] kmittal2 opened #85 "chkjac calls in coef.f"
I think line 652 (and 539) of coef.f where chkjac routine is called, should be:
CHKJAC(JACM1(1,1,1,ie),NXYZ1,ie,xm1(1,1,1,ie),ym1(1,1,1,ie),zm1(1,1,1,ie),ndim,ierr) instead of
CHKJAC(JACM1(1,1,1,ie),NXYZ1,ie,xm1,ym1,zm1,ndim,ierr)
because of how chkjac routine is written. This will help output the right xm1,ym1,zm1 values in-case there is an inverted element.

[2016-09-06 15:39] #84 closed, assigned to nobody

[2016-09-11 10:22] stgeke commented on #78
Done, see #86

[2016-09-12 07:51] ggiannako opened #87 "Where did PLUGIN_LIST variable go?"
Is there a particular reason for removing it from the makenek script in both develop and v16 branch?
It exists however in makenek.inc which seems inconsistent...
Do these branches have plugin support or not?

[2016-09-12 08:09] stgeke commented on #87
I removed the plugin stuff, at least for now. We need something more
general.
btw: Nobody was using it except you guys. I updated the lav_plugin so that
it works w/o.

Von:  ggiannako notifications@github.com
Antworten an:  Nek5000/Nek5000
<reply+011ba67f23653f5d5c6edcec9bdbea34b29d63527b01a37092cf0000000113ee207a9
2a169ce0a825620@reply.github.com>
Datum:  Monday, September 12, 2016 at 9:51 AM
An:

[2016-09-12 08:12] ggiannako commented on #87
OK good, thanks!

[2016-09-12 08:59] #87 closed, assigned to nobody

[2016-09-15 14:27] pschlatt1 opened #88 "(linear) Adjoint equations for temperature"
extend the current linear adjoint for velocity with the respective terms in the temperature equation (with Boussinesq approximation). Question: Should we contribute that already for R16?

[2016-09-15 14:31] pschlatt1 opened #89 "Add inhomogeneous "O" condition ("o", "on")"
Add capability to have inhomogeneous stress conditions (i.e. setting the "ambient pressure" pa) also for no-stress PnPn-2. This essentially means to make sure that "o" works fine. Question: Should this be done for R16?

[2016-09-15 15:05] oanaoana commented on #89
Yes we should do that. But I think maybe one should add the nozzle as well, and have an extensive treatment of Boundary Conditions, maybe convective too.

[2016-09-15 22:38] hackljf opened #90 "local_grad2_t has a superflous and incorrect array declaration"
Please delete the ut(0:N,0:N) declaration from subroutine local_grad2_t in navier1.f

[2016-09-15 23:54] pschlatt1 commented on #89
The nozzle and convective conditions can be treated from the user file, whereas the "o" conditions require change in the core. Therefore I guess for that issue we can focus on "o", "on" etc. separately.

[2016-09-16 14:00] hackljf commented on #90
It occurs to me that I could just fix it myself and issue a pull request from a personal fork. Can I do that?

[2016-09-16 14:55] RonRahaman commented on #90
Yes, please feel free to do that.

[2016-09-16 15:30] #90 closed, assigned to nobody

[2016-09-19 14:37] stgeke opened #94 "Use preprocessor #include instead of the compiler INCLUDE statement"
This suggested change will improve the include file handling.

Example use case:
I want to include `SIZE.h` in `SIZE` to hide some internals from the user. However, the Fortran standard prohibits recursion in include files.

[2016-09-19 14:47] stgeke commented on #94
Another use case:
We could use preprocessor symbols to enable/disable features like MHD or CMT. Currently the user has to set parameters like lbelv, lbx1, etc. in `SIZE` to do that. This is error prone and not really user friendly.

[2016-09-20 06:29] adampep commented on #78
Perfect. Thank you

[2016-09-20 14:57] stgeke commented on #47
The code is still not F77 compliant as it is using free text format.

[2016-09-20 15:00] #72 closed, assigned to nobody

[2016-09-20 15:01] #50 closed, assigned to nobody

[2016-09-20 15:06] #46 closed, assigned to nobody

[2016-09-21 08:00] pschlatt1 commented on #94
I guess the main question is whether one wants to go in the direction of using many more preprocessor symbols, and #ifdefs in the code. This could then be used for quite a range of code parts and even data structures of course, including e.g. PnPn/PnPn-2, scalars, adjoints etc. So perhaps this discussion could be a bit broader.

[2016-09-22 08:22] adampep commented on #94
I would like to see more preprocessor directives in nek (I'm using it for my amr).  However, there is a problem with data structures, as most of them are located in fortran include files and as far as I know (correct me if I'm wrong) one cannot use preprocessor directives in include files. They are perfectly OK in f90 modules but not in f77 include files. So if you would like to change memory foot

[2016-09-22 08:26] stgeke commented on #94
With the proposed changes in this issue you _can_ use preprocessor
directives in Fortran include files.

Von:  Adam Peplinski notifications@github.com
Antworten an:  Nek5000/Nek5000
<reply+011ba67f50c1c9ac6f85ee0e5fc01f07604396508d591b9b92cf0000000113fb56d89
2a169ce0a990da6@reply.github.com>
Datum:  Thursday, September 22, 2016 at 10:22 AM
An:  Nek5000/Nek5000 Nek5000@noreply.github.com
Cc:  Stefa

[2016-09-22 08:58] pschlatt1 commented on #94
Indeed, using #include allows #ifdefs in the include files. So the main question is indeed whether one would like to go towards more preprocessor usage in the code. So this is a design question.

[2016-09-22 09:09] stgeke commented on #94
In general I don't like #ifdefs but I think with the current design they are quite helpful. I think we decided to use #ifdef to turn features on/off already. Just look at the code! Yes, we could use this concept for other features like PN/PN vs PN/PN2 too. However, this is a not a critical decision as the suggested change is not a big deal i.e. I cannot think of any drawback. It just looks odd for

[2016-09-22 11:52] stgeke opened #95 "Variable viscosity check with PNPN"
If the viscosity is spatially varying the coupled Helmholtz solver has to be used (IFSTRS=T) for PN/PN otherwise you'll get a wrong result. Currently this is not checked by the code. We may want to add a check or set IFSTRS=T by default.

[2016-09-22 14:45] fischer1 commented on #94
The plan is to have ifdefs in the include file and to not have them elsewhere in the code.

The problem with ifdefs is that flow control is removed to a remote location (the users's makenek file) and no longer clear in the code, which makes debugging painful.

So, I think we'll adopt Stefan's plan to make includes look like:

#include SIZE
#include TOTAL

etc.

Stefan, is this the basic idea?  Tha

[2016-09-22 15:56] stgeke commented on #94
I agree with you Paul!

We should use #ifdefs very carefully and only if there is no other solution to it. A typical example is to “overload” a function. Example: If you compile the code with -DCVODE the function cdscal_cvode() calls fcvode() which is only defined when linked with the CVODE library. If the preprocessor symbol is not defined, cdscal_cvode() is just a dummy to make the compiler happ

[2016-09-22 16:05] stgeke opened #96 "Pressure solver performance for PNPN"
The pressure solve with PN/PN-2 is 1.5x faster e.g. for turbChannel. Same applies for other cases. It looks you'll get less pressure iterations with PN/PN-2 compared to PN/PN. Not sure why - I guess the implementation of preconditioned is somehow different. Something we need to look at.

[2016-09-22 16:08] stgeke commented on #55
@RonRahaman Can we close this?

[2016-09-22 16:17] RonRahaman commented on #55
No, PR #82 hasn't been merged yet

[2016-09-22 20:52] RonRahaman commented on #55
@stgeke, could you check on #82 and confirm if it can be approved?

[2016-09-23 02:41] fischer1 commented on #95
One cheap way to do this is compute min/max of viscosity after it is set and to set ifstrs accordingly?

I guess this raises the question:  Can we switch to ifstrs=T in Pn/Pn in the middle of the simulation?  I think the answer is Yes -- but not 100% certain.

[2016-09-23 02:45] fischer1 commented on #89
Hi Philipp.  Have you guys tried/developed this capability already ?

[2016-09-23 07:34] pschlatt1 commented on #89
yes, we have, and we will commit a "fix" for that soon. Should this still be done for R16?

[2016-09-27 07:38] njansson commented on #63
Wouldn't one idea to speed things up be to remove the deep copying when evicting the oldest vector?

For example, instead of shifting all vectors one step to the left, keep track of the oldest vector and rewrite all loops wrt. that index.

Something along the lines of 90e3d2e8ebdc1afc3bc7a8c399bba4f8965db089

[2016-09-27 07:46] adampep opened #97 "NOTIMER in math.f"
replacing NOTIMER in math.f

[2016-09-27 23:26] fischer1 commented on #97
What is the issue with NOTIMER ?

[2016-09-28 07:19] adampep commented on #97
It was changed in one of the previous changes to TIMER (commit e626b77 by Stefan; Disbaled timers and fixed issue #72), but math.f was missed. I've just made code consistent.

[2016-10-03 13:40] #97 closed, assigned to nobody

[2016-10-03 13:40] #94 closed, assigned to stgeke

[2016-10-03 13:42] #78 closed, assigned to nobody

[2016-10-03 14:02] #68 closed, assigned to nobody

[2016-10-03 14:16] stgeke commented on #23
#100

[2016-10-06 20:31] kmittal2 opened #103 "New prenek feature - circular cartesian"
I have added a new feature to prenek which allows the user to generate 2D circular-cartesian meshes (kind of hole in a box or meshes for annulus). Attached is an example script that makes the mesh for hole in the box (the files are renamed with txt so that they could be uploaded here.. please rename one2d.txt to one2d.rea and example.txt to example and then run example in terminal).

Reference pul

[2016-10-11 12:44] EvelynOtero opened #104 "Ping_loop arguments list inconsistency"
There are three routines "ping_loop" types in comm_mpi.f and the number of arguments is inconsistent for ping_loop1 and ping_loop2.
It gives compilation errors with Intel compiler.

The other question is argument list for ping_loop
 subroutine ping_loop(t1,t0,len,nloop,nodea,nodeb,nid,x1,y1,x2,y2)
which is referenced
call ping_loop (t1,t0,len,nloop,nodea,nodeb,nid,x,y,x,y)
with x1=x2 and y1=y2. Is

[2016-10-11 14:04] RonRahaman commented on #55
Merged in PR #82

[2016-10-11 14:04] #55 closed, assigned to RonRahaman

[2016-10-11 15:59] nicooff opened #105 "Conflict with variables name"
As pointed out in a previous issue (#68), variables with identical names appear in various include files.
For example:
- x in GMRES, NEKUSE and ORTHOSTRS
- mu in GMRES and NEKUSE
- dd in FDMH1 and SEMHAT
- zgl in SEMHAT and WZF

[2016-10-18 09:31] negips opened #108 "High pass filter"
Do we wish to include the high-pass filter routines within V16 release?
@fischer1 ?

/Prabal

[2016-10-18 11:26] adampep opened #109 "Time integration order"
Nek uses two parameters to control order of time integration NAB and NBD (in TSTEP). Max value of NBD can be set by parameter(27) (general:tOrder), however max value NAB is hard-coded to be 3. For optimal forcing we have to restrict time integration to Euler and we would like to be able to control both NAB and NBD. Simple solution would be to keep current behaviour for positive values of parameter

[2016-10-20 10:32] adampep opened #110 "wrong edge initialisation in setup_topo"
Causes wrong initialisation of IEDGEF and overwriting part of ICEDG by setedge

[2016-10-25 19:13] jlost opened #114 "Fails compile with xlf - postnek.f: Conversion from type INTEGER not permitted"
Hi, I am trying to compile Nek5000 with xlf/xlc.

Here is my `maketools` configuration:

[code]

And here is the error output:

[code]

Seems like this is probably just a minor code problem that xlf is more strict with than gfortran.

[2016-10-27 12:22] mattiasbr opened #115 "modification of uzawa_gmres()"
Currently, the GMRES algorithm for the pressure in Pn-Pn-2 contains multiplications with operators "U^(-1)" and "L^(-1)" defined as u(i)=sqrt(b(i)) and l(i)=sqrt(binv(i)) in uzawa_gmres_split0(). The reason to have these arrays is to my understanding to have the right inner product, i.e. r^T r = f^T B f (where f is the right-hand side, r = L^(-1) res,  res=B f).

A simpler solution could be to mod

[2016-10-27 15:23] airsound opened #116 "compile problem"
I downloaded the nek5000 with svn, when I compile the tools with
./maketools all
## it has an error that
## Make exo2nek...

make[1]: Entering directory `/work/Nek5000-master/svn/nek5000/tools/exo2nek'
gfortran -mcmodel=medium -c -fdefault-real-8 exo2nek.f
exo2nek.f:42: Error: Can't open included file 'exodusII.inc'
make[1]: **\* [exo2nek.o] Error 1

could anyone tell me how to fix thie problem?

[2016-10-27 16:34] RonRahaman opened #117 "trapping errors in makenek"
Would you consider prefacing makenek with `set -e` and `set -o pipefail`?

The problems are these lines at the end:

[code]

This _always_ returns 0, even if makenek fails.  It's not very convenient if you're running makenek as part of a larger build script, since it doesn't trap any errors in makenek.

Using `set -e` exits on all errors.  Using `set -o pipefail` will trap any errors in `make` fro

[2016-10-29 22:28] #105 closed, assigned to nobody

[2016-10-29 22:32] stgeke commented on #23
Resolved in #113

[2016-10-29 22:32] #23 closed, assigned to nobody

[2016-10-29 22:40] ananiast opened #122 "Support full stress formulation for Pn-Pn"
#99

modify bcdirsc, faceis and cresvsp accordingly to have stress formulation working for Pn-Pn?

[2016-10-29 22:50] stgeke commented on #116
You run into this issue because exo2nek depends on the netcdf and exodusII library. We should not build exo2nek by default.

[2016-10-29 22:51] stgeke commented on #114
Can you fix this and submit a pull request?

[2016-10-29 22:53] stgeke commented on #109
Resolved in #112

[2016-10-29 22:53] #109 closed, assigned to nobody

[2016-10-29 22:55] stgeke commented on #104
@fischer1 Can you take care of this?

[2016-10-29 22:55] #103 closed, assigned to nobody

[2016-10-29 22:56] stgeke commented on #108
Please submit a PR for this.

[2016-10-29 22:59] stgeke commented on #117
Yes, that's a good idea. Do you want to create a PR for this?

[2016-10-29 23:49] fischer1 commented on #104
resolved in #123

[2016-10-29 23:49] #104 closed, assigned to nobody

[2016-10-30 00:04] fischer1 commented on #114
fixed in postnek.f #124

[2016-10-30 00:04] #114 closed, assigned to nobody

[2016-10-30 00:10] fischer1 commented on #115
Thanks Mattias - can you issue a pull request for this?

[2016-10-30 00:22] mattiasbr commented on #115
Yes, I can do that.

[2016-10-30 22:03] fischer1 opened #125 "periodic for millions of elements..."
There is a genmap issue -- fix suggested by Scicong/Elia -- that is required
for millions of elements when using periodicity.

[2016-10-30 22:05] fischer1 opened #126 "param(59) mesh deformation flag"
If a user morphs geometry in usrdat2 and does not set p59 > 0 they will not
get the right answer.

[2016-10-30 22:20] fischer1 opened #127 "ALE + characteristics ?"
@ananiast Is ALE + characteristics ready to go into v16 ?

Does it work for both PnPn and PnPn-2 ?

When this feature is added, we should add the example with exact solution to "Short Tests"

[2016-10-30 23:33] fischer1 opened #128 "mean pressure in Pn-Pn low Mach"
@ananiast should we append mean pressure to end of field file ...

[2016-10-30 23:49] fischer1 opened #129 "Add Lagrangian particle solver"
transpose of interpolation matrix?

[2016-10-31 02:53] stgeke commented on #128
As discussed, it should go into the header. Will this break the Visit reader?

[2016-10-31 03:01] stgeke opened #130 "Rewrite g2gi to enable restarts with a different mesh"
Instead of using our current 3-step workflow we could rewrite g2gi() to interpolate the old .fld file data onto the new mesh in one shot.

[2016-10-31 03:25] lcarasik commented on #130
Question and potential request: Is the current g2gi() used to interpolate from one spectral order to different spectral order? Such as changing lxlt = 8 to 10? If not, can it be extended to that?

[2016-10-31 03:30] stgeke commented on #130
This is supported already. If only p changes you don't need g2gi().

[2016-10-31 03:31] lcarasik commented on #130
Whoops, my bad.

[2016-10-31 16:07] EvelynOtero opened #131 "Number of restarting files created and their time integration order"
There should be consistency between the order of the time integration and the number of files created for restarting.

[2016-10-31 16:08] fischer1 commented on #131
What happens if you increase the time order when you restart?

---

From: EvelynOtero [notifications@github.com]
Sent: Monday, October 31, 2016 11:07 AM
To: Nek5000/Nek5000
Subject: [Nek5000/Nek5000] Number of restarting files and time integration order (#131)

There should be consistency between the order of the time integration and the number of files created for restarting.

—
You are receiving

[2016-10-31 16:30] EvelynOtero commented on #131
Right now nfld_save=4 (full_restart_save(iosave), in prepost.f), so the number of files do not depend on the time integration order. For example, we want to have 2 or 3 files for a 2nd or 3rd order respectively. I will add the corresponding condition depending on the value and sign of param(27).

[2016-10-31 16:37] fischer1 commented on #131
Can you please issue a pull request and also provide an example demonstrating
the run case?

---

From: EvelynOtero [notifications@github.com]
Sent: Monday, October 31, 2016 11:30 AM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Comment
Subject: Re: [Nek5000/Nek5000] Number of restarting files and time integration order (#131)

Right now nfld_save=4 (full_restart_save(iosave), in prepost.f), so the numbe

[2016-10-31 17:11] EvelynOtero commented on #131
To answer more exactly to your previous question, the increase of the time order when you restart will not cause any problem since the names and number of files to read, is managed in our subroutine "my_full_restart" from the usr file (independently of the time order, contrary to the saving). This means that if one increases from a 2d to a 3rd order when restarting, one will first set manually in

[2016-11-01 11:33] ghost commented on #116
I am also having the same error when I clone nek with git and then try to compile the tools

[code]

[2016-11-01 18:29] RonRahaman commented on #116
This was fixed in the develop branch.  @mch56, you can get these fixes by cloning the the develop branch (rather than the master branch):
`git clone https://github.com/Nek5000/nek5000.git -b develop`
or
`svn co https://github.com/Nek5000/nek5000.git/branches/develop nek5000`

@stgeke, should we merge this hotfix into master right now?  If so, I can cherry-pick the commit from the develop and submi

[2016-11-01 18:38] stgeke commented on #116
Sure, we should do this. Was this fixed also in release/v16.0.0?

Von:  Ron Rahaman notifications@github.com
Antworten an:  Nek5000/Nek5000
<reply+011ba67f2afa09d30f7629cae93ee854b798de7ec713247692cf000000011430a1229
2a169ce0b1190ef@reply.github.com>
Datum:  Tuesday, November 1, 2016 at 8:29 PM
An:  Nek5000/Nek5000 Nek5000@noreply.github.com
Cc:  Stefan Kerkemeier stgeke@gmail.com, Mention
mention

[2016-11-02 12:39] ghost commented on #116
So if I clone the develop branch rather than the master branch, and then try and compile the tools I get this error

[code]

[2016-11-03 11:54] EvelynOtero commented on #131
Concerning the restart example, it already exists (cyl_restart), I will just update the usr files so there is not anymore the 4th file and I will add all the explanations in the README file.

[2016-11-03 15:27] stgeke opened #135 "Improve regression (short) tests"
Currently not tested:
- Temporal accuracy (2nd vs. 3rd order)
- CHT
- AMG (dumping AMG files, generating AMG files, AMG solve)
- History points (this will test the interpolation routines)
- Grid-to-Grid interpolation
- Solving scalars with CVODE including fluid/heat splitting
- Moving mesh
- Characteristics (with and without moving mesh)
- Restart
- Checkpoints
- ...

I guess we can recycle some o

[2016-11-03 17:35] pschlatt1 commented on #135
adjoint is not tested either (both velocity and soon the temperature one)

[2016-11-03 18:56] stgeke commented on #64
To make this happen we need prenek to read/output .re2 files and eliminate (for this case) all dependencies  to .rea. I guess for postnek we just need to eliminate .rea dependencies are it reads .re2 already.

 @fischer1 What do you think? Can you do this or should we try to look for somebody who can implement these changes?

[2016-11-04 18:16] RonRahaman commented on #131
Fixed in PR #133

[2016-11-04 18:16] #131 closed, assigned to nobody

[2016-11-06 22:06] maxhutch opened #142 "wiki is in stealth mode"
There is some (but not a lot) of content in the wiki, but no link to it from the readme or any other website.  Could we add a short link in the readme, maybe in the user guide section?

@RonRahaman

[2016-11-07 20:21] stgeke commented on #135
@pschlatt1 Can you provide a short_test for adjoint which we can run as regression test.

[2016-11-08 15:10] RonRahaman commented on #142
Personally, I don't want to send people to the wiki at all.  The information will get fragmented between the Wordpress site and the wiki.

[2016-11-08 15:12] RonRahaman commented on #116
@stgeke, we can provide a solution to this problem via PR #139.  Could you take a look and approve?

[2016-11-08 16:09] maxhutch commented on #142
Is there a way to contribute to the wordpress site programmatically?

[2016-11-08 18:53] stgeke commented on #142
For me all things on github like the wiki is for developers not users. Ron is right, we should not start working on another user guide.

[2016-11-08 19:29] maxhutch commented on #142
If it is for developers and not users, then we could put a link in `CONTRIBUTING.md`.  In either case, what is the right way to get data onto the wordpress site?  Could those instructions also go into `CONTRIBUTING.md`

Specific context: I want to add a "supported versions of LIBXSMM" list or table.

[2016-11-08 19:32] stgeke commented on #142
I think this specific info should go into the release notes or readme.

Von:  Max Hutchinson notifications@github.com
Antworten an:  Nek5000/Nek5000
<reply+011ba67fe115bc30a6823748a6ce4500e8333608c2ae7a5c92cf000000011439e98c9
2a169ce0b2e715b@reply.github.com>
Datum:  Tuesday, November 8, 2016 at 8:29 PM
An:  Nek5000/Nek5000 Nek5000@noreply.github.com
Cc:  Stefan Kerkemeier stgeke@gmail.com, Commen

[2016-11-08 19:41] RonRahaman opened #144 "Update SIZE files in short_tests"
The SIZE files in short_tests are out-of-date for these examples:
* axi
* benard
* eddy
* kov_st_tate
* var_vis

[2016-11-08 20:13] RonRahaman commented on #144
Fixed in #145

[2016-11-08 20:13] #144 closed, assigned to RonRahaman

[2016-11-08 20:15] RonRahaman opened #147 "Remove most serial tests"
To decrease the runtime of the Travis tests, we should remove all serial tests except eddy

[2016-11-09 18:03] RonRahaman commented on #147
Fixed in PR #148

[2016-11-09 18:03] #147 closed, assigned to nobody

[2016-11-09 18:11] RonRahaman opened #150 "Adding incl_def to short_tests?"
@nicooff and I recenctly added the incl_def regression test to NekExamples.  This tests whether all include files can be added simultaneously without name conflicts.  It's currently being run by Jenkins after every merge

Should the incl_def test also be included in short_tests (so that Travis will run it after every PR)?

[2016-11-10 15:13] stgeke opened #151 "Function declarations are missing"
We need to declare all functions using a new `INCLUDE` file or add them to existing ones.

[2016-11-10 20:46] stgeke opened #152 "Relative error in short_test"
We should test the relative error in short_test and ensure that the tolerance is tight enough. Currently we test the absolute error with e.g. 1e-6 even though the error itself is 1-e9.

[2016-11-10 20:50] stgeke commented on #116
Fixed in #

[2016-11-10 20:50] #116 closed, assigned to stgeke

[2016-11-10 22:02] RonRahaman opened #153 "Using old-style SIZE file in a regression test"
@stgeke requested that one regression tests be run with the old-style SIZE files

[2016-11-11 10:36] pschlatt1 commented on #128
apparently, this change causes problems restarting from old files without that variable. Perhaps one could fix that when reading the internal file/header.

[2016-11-11 10:41] stgeke commented on #128
Please file a bug (issue) including some instructions how to reproduce it. Thanks.

[2016-11-11 14:56] fischer1 opened #154 "mean pressure in header of f0000 file"
The current code does not read old f0000 files.

An example is here   www.mcs.anl.gov/~fischer/restart.tgz

[2016-11-11 14:57] fischer1 commented on #128
@stgeke @pschlatt1

I just filed a bug report and posted a pointer to an exmple.

[2016-11-11 14:59] pschlatt1 commented on #128
Great! The fix is not very difficult; one should just make the "parser" of the internal file more robust. I guess we could look at it at the beginning of next week.

[2016-11-14 19:44] RonRahaman commented on #152
@stgeke, we discussed using a relative error of 1e-3*target_value, but I'm not sure if this is appropriate for all the target values.  For example, if we implement that scheme, then the PnPn lowMach_test fails as follows:

`FAILURE: "ERROR T": Test value 4.4775e-12 exceeds target value 4.5408e-12 +/- 4.5408e-15`

Indeed, +/- 1e-15 seems unreasonably small.  What's the smallest relative error we sh

[2016-11-14 19:49] stgeke commented on #152
I think we should check if test_answer/target_value < rel_tol (e.g. 1e-03).

Von:  Ron Rahaman notifications@github.com
Antworten an:  Nek5000/Nek5000
<reply+011ba67f141024326c4b7d5b49183f930cf980d2961626fb92cf000000011441d6239
2a169ce0b3e0665@reply.github.com>
Datum:  Monday, November 14, 2016 at 8:44 PM
An:  Nek5000/Nek5000 Nek5000@noreply.github.com
Cc:  Stefan Kerkemeier stgeke@gmail.com, Ment

[2016-11-14 20:12] RonRahaman commented on #152
That doesn't make sense.  As test_answer --> target_value, then test_answer/target_value --> 1

[2016-11-14 20:15] stgeke commented on #152
Sorry I meant (test_answer - target_value) / target_value < rel_tol

Von:  Ron Rahaman notifications@github.com
Antworten an:  Nek5000/Nek5000
<reply+011ba67f3e380408d2c47883476b8f39679b394232fed93f92cf000000011441dca79
2a169ce0b3e0665@reply.github.com>
Datum:  Monday, November 14, 2016 at 9:12 PM
An:  Nek5000/Nek5000 Nek5000@noreply.github.com
Cc:  Stefan Kerkemeier stgeke@gmail.com, Mention
ment

[2016-11-14 20:50] RonRahaman commented on #152
Yeah, in my original example,  I asserted that
abs(test - target) < target \* tolerance
which is the same as what you just proposed.  In my orginal question, target*tolerance is very small for ERR T and the lowMach test fails

[2016-11-14 21:39] stgeke commented on #152
Got it ;)
Yes that value for test and target may get so small that a pure relative error control is meaningless. Let's specify a relative and absolute tolerance using abs(test - target) < target*rel_tol + abs_tol.

[2016-11-15 15:12] RonRahaman commented on #152
That sounds good.  Is there a value for abs_tol you'd like to use in all cases?  Or should abs_tol be specified on a case-by-case basis?

[2016-11-15 15:29] stgeke commented on #152
I suggest case-by-case.

Von:  Ron Rahaman notifications@github.com
Antworten an:  Nek5000/Nek5000
<reply+011ba67fea6e03ceb888f1f84eb3fac8125c1883c169fd6292cf000000011442e7d09
2a169ce0b3e0665@reply.github.com>
Datum:  Tuesday, November 15, 2016 at 4:12 PM
An:  Nek5000/Nek5000 Nek5000@noreply.github.com
Cc:  Stefan Kerkemeier stgeke@gmail.com, Mention
mention@noreply.github.com
Betreff:  Re: [Nek50

[2016-11-16 09:32] ggiannako opened #157 "Reset time at restart and use IOTIME checkpointing simultaneously"
When restarting, the time can be reset in userchk using something like "if(istep.eq.0) time=0.0".
If one wants to restart setting t=0, but also use IOTIME for checkpointing, this requires that the variable ntdump is also set to 0 at the beginning for the checkpointing to work (see setics).

Since in general it is not advisable to play with internal common blocks it would be nice to "officially" su

[2016-11-23 21:12] stgeke commented on #154
Can we close this bug?

[2016-12-01 18:50] lcarasik commented on #157
I would find this of value as well.

[2016-12-02 18:47] stgeke opened #161 "genBox requires .rea file even if output is .re2"

[2016-12-03 17:52] fischer1 opened #162 "HOW DO I SET TIMER=TRUE ? THIS SHOULD BE THE DEFAULT"

[2016-12-03 17:57] fischer1 commented on #162
I set pplist "TIMER" and still am not finding my statistics..?

[2016-12-03 17:59] fischer1 commented on #162
Here is what I see for output:
        9  1.8000E-01 Write checkpoint:
       0       9 OPEN: z0.f00001

        9  1.8000E-01 done :: Write checkpoint
                              file size =     563.E-04MB
                              avg data-throughput =   142.8MB/s
                              io-nodes =     1

end of time-step loop

call exitt: dying ...

total elapsed time             :

[2016-12-03 19:05] stgeke commented on #162
Just uncomment

#IFPROFILING="true"

in makenek

From: fischer1 <notifications@github.com>
Reply-To: Nek5000/Nek5000 <reply@reply.github.com>
Date: Saturday, December 3, 2016 at 6:59 PM
To: Nek5000/Nek5000 <Nek5000@noreply.github.com>
Subject: Re: [Nek5000/Nek5000] HOW DO I SET TIMER=TRUE ? THIS SHOULD BE THE DEFAULT (#162)

Here is what I see for output:
9 1.8000E-01 Write checkpoint:
0 9 OPEN: z

[2016-12-05 01:08] fischer1 opened #163 "WHY DOES the git version take more memory than the old SVN version?"

[2016-12-05 01:11] fischer1 commented on #163
Never mind... luser error

[2016-12-05 01:11] #163 closed, assigned to nobody

[2016-12-05 18:42] #162 closed, assigned to nobody

[2016-12-09 21:21] stgeke commented on #161
@klheisey Can you take care of this?

[2016-12-09 21:27] #142 closed, assigned to nobody

[2016-12-09 21:36] stgeke commented on #108
@negips Do you want to submit a pull request for this?

[2016-12-09 22:48] klheisey commented on #161
yep.

[2016-12-13 13:34] stgeke opened #168 "solver does not stop at fintime"
To stop at fintime we adjust the last dt. However, we limit the changes in dt (288: subs1.f) so it is not garanteed that we end up at fintime.

@fischer1 Why do we limit dt at all?

[2016-12-15 23:15] stgeke commented on #108
@pschlatt1 Are you guys still interested to see this in the next release?

[2016-12-16 01:40] klheisey commented on #161
@stgeke genbox requires a .rea file to read in the parameters and then outputs either rea or rea/re2 file with the parameters set from the input rea. Are you hoping that it could just dump out a .re2 with some sort of default .rea (or .par...?) that the user can modify as needed? Thus there is no base input file needed? The .rea file is used purely for parameter dumping/setting

[2016-12-16 10:11] stgeke commented on #161
In case of .re2 there should be no .rea

[2016-12-16 16:39] ggiannako opened #175 "re2torea does not work"
Needs to be updated as it fails to open .re2 file (problem only in byte.c or somewhere else as well?)

[2016-12-20 09:11] #154 closed, assigned to stgeke

[2016-12-20 16:13] #47 closed, assigned to nobody

[2016-12-21 13:27] stgeke opened #183 "BC handling"
I think we can improve the current boundary condition handling. Instead of storing the boundary conditions for all fields in the rea/re2 file we should store just the patchID for all element and faces. This enables us to modify the BCs at runtime easily and we could potentially use this information to create (complex) objects.

To set the boundary conditions I would simply call set_bc(ifield, patc

[2016-12-21 14:19] #168 closed, assigned to nobody

[2016-12-21 14:19] #157 closed, assigned to nobody

[2016-12-21 15:35] emerzari commented on #183
I like this option. But in addition of potentially doing this in usrdat2 could we do the assignment patch<-->boundary type in .par as well? It should be relatively easy and lightweight.

[2016-12-21 15:48] stgeke commented on #183
Yes, this is also possible.  I believe that's what the MOAB guys did some time ago.
We still need to think about the CHT case.

[2016-12-22 11:48] rvinuesa opened #185 "Problem using genmap with large numbers of elements"
Dear Nek Users,
We are about to set up a new case with about 29692 in 2D, which we would like to extrude to about 150 elements in 3D, giving a total of about 30k times 150 = 4.5M elements. n2to3 works fine, but genmap gives a "periodic mismatch error". Having a lower number of extrusion elements, say 30k times 70 = 2.1M elements, works fine. Changing the tolerance in genmap does not fix it.

Befor

[2016-12-22 13:54] stgeke commented on #125
@fischer1 I believe one of your students fixed that. Can you ask him to submit a pull request with the fix.

[2016-12-22 13:55] pschlatt1 commented on #185
This seems to be a duplicate of #125. So I guess we can close this.

[2016-12-22 13:56] #185 closed, assigned to nobody

[2016-12-22 13:57] stgeke commented on #125
[genmap_issue.pdf](https://github.com/Nek5000/Nek5000/files/668873/genmap_issue.pdf)

[2016-12-22 14:00] pschlatt1 commented on #125
Great, thanks! I guess we can work with that now, and try to create a PR.

[2016-12-22 14:01] stgeke commented on #108
@pschlatt1 Are you still interested, otherwise we should close this feature request.

[2016-12-22 14:04] pschlatt1 commented on #108
I guess we can close this one for now, and reopen when it is ready.

[2016-12-22 14:10] stgeke commented on #108
Oh I thought you guys are ready and want to submit it.
In general I think it's a very useful feature. What is missing?

[2016-12-22 14:25] pschlatt1 commented on #108
It is all there, but now it is holiday time...
Indeed, it it useful, and should definitely be there. We can also leave the issue open.

[2016-12-22 14:25] emerzari commented on #125
Yes: we discussed with a while ago I believe.

Philipp, have a fix as well very similar to this is if needed.

[2016-12-22 14:35] pschlatt1 commented on #125
@emerzari: could you send it to us, then we can test it on the concrete example we have right now.

[2016-12-22 22:09] pschlatt1 commented on #89
fixed in #99 for PnPn-2.

[2016-12-22 22:09] #89 closed, assigned to nobody

[2016-12-23 00:19] fischer1 opened #186 "Bug in fixgeom:"
in fix_geom() in navier5.f,   all instances of nelfld(ifield) should be replaced by nelt

because fix_geom fixes _all_ elements.

[2016-12-23 00:48] pschlatt1 commented on #125
It seems I directly pushed the simple fix to the wrong repo, sorry.

[2016-12-30 19:34] #125 closed, assigned to nobody

[2017-01-02 22:06] RonRahaman opened #187 "Missing NEKNEK in description of PPLIST"
Looks like NEKNEK isn't described in the help message for PPLIST makenek.inc

[2017-01-03 02:04] fischer1 opened #188 "large executable ?"
Any idea why nek compiles to 4 GB executable (static memory allocation), even when I delete all the f77 source code and turn off MPI ?   [  What are we linking with that is setting aside that much space? ]    This happens to be on my mac, but I think it's true elsewhere...?

[2017-01-03 02:20] fischer1 commented on #187
Ron, Can you fix this ?

[2017-01-03 08:55] stgeke commented on #188
I noticed that too and it seems to be OSX specific. Never bothered me as the output of `SIZE` is pretty useless anyway. It's better to use the kernel function `getrusage` to get the _real_ memory usage of an application. An easy way to do this is to run `/usr/bin/time -l ./nek5000`.

[2017-01-03 08:56] stgeke commented on #188
On Linux it is `/usr/bin/time --verbose ./nek5000`

[2017-01-03 18:22] fischer1 opened #189 "prepost should output data ranges"
It'd be nice if prepost output min/max of the main variables to the logfile, along with a timestamp:

istep time  umin umax  prepost vx
istep time  vmin vmax   prepost vy

etc.

This would be especially useful for development work.

[2017-01-04 17:34] RonRahaman commented on #187
sure, I will take care of this

[2017-01-04 17:44] fischer1 commented on #187
Thanks Ron.

________________________________
From: Ron Rahaman [notifications@github.com]
Sent: Wednesday, January 04, 2017 11:34 AM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Comment
Subject: Re: [Nek5000/Nek5000] Missing NEKNEK in description of PPLIST (#187)

sure, I will take care of this

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://urld

[2017-01-04 18:25] RonRahaman opened #190 "gfortran: invoking preprocessor"
To invoke the C preprocessor for gfortran, makenek.inc sets the "-x f77-cpp-input" flag.  However, this option was replaced with the "-cpp" flag in gfortran 4.4.  Compare section 1.3, "Preprocessing and conditional compilation", in the [v4.3.6](https://gcc.gnu.org/onlinedocs/gcc-4.3.6/gfortran/Preprocessing-and-conditional-compilation.html#Preprocessing-and-conditional-compilation) and [v4.4.7](ht

[2017-01-11 16:40] stgeke commented on #52
@emerzari reported that reading a 15M element re2 file (with lots of curved sides) took about 40min.

[2017-01-11 16:42] #188 closed, assigned to nobody

[2017-01-11 17:05] stgeke commented on #175
@ggiannako Any chance to submit a pull request fixing this?

[2017-01-11 20:58] klheisey commented on #175
Submitted a pull request now that should fix re2torea #193

[2017-01-14 19:18] stgeke commented on #161
@klheisey Please can you update me on this?

[2017-01-14 19:23] #175 closed, assigned to nobody

[2017-01-14 19:28] stgeke commented on #126
Can you think of a way to set p59 automatically? I guess it is not too difficult to identify a undeformed or deformed mesh.

[2017-01-14 19:29] #187 closed, assigned to RonRahaman

[2017-01-14 19:44] stgeke commented on #52
The slow performance is related to the fact that we issue a `read()` and `send()` for every curved/bc data-item (32 bytes). Instead we should read the data in big blocks and crystal route the data. This will improve the performance significantly even if we don't read-in the data in parallel.

[2017-01-14 19:46] stgeke commented on #52
@fischer1 Why was it implement like this. Am I missing something?

[2017-01-14 22:36] fischer1 commented on #126
We can set p59=1

Later, we can update the "check fast mode"

Most real codes don't get to use fast mode anyway.

(i.e., let's skip p59 and set ifdfrm=.true. ... or whatever that flag is)

________________________________
From: Stefan K. [notifications@github.com]
Sent: Saturday, January 14, 2017 1:28 PM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Assign
Subject: Re: [Nek5000/Nek5000] param(59) mesh de

[2017-01-14 22:38] fischer1 commented on #52
Probably just implemented in a dumb way...  I'll try to look later this eve.

________________________________
From: Stefan K. [notifications@github.com]
Sent: Saturday, January 14, 2017 1:46 PM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Mention
Subject: Re: [Nek5000/Nek5000] Reading input files in parallel (#52)

@fischer1<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_fischer1&d=DwM

[2017-01-16 17:10] #127 closed, assigned to ananiast

[2017-01-18 05:28] lcarasik opened #198 "hpts subroutines - Rewrite to prevent exit of simulation if hpts.out is already found"
Currently, Nek will exit or "crash" if a hpts.out is found when a new run has been started. This can be quite cumbersome due to Nek continuing to hold up resources on certain systems without properly exiting. In general, I feel it would be a nice modification for nek to just overwrite the old hpts.out file it finds instead of exiting or crashing.

I can try and figure out how to do this, but it wi

[2017-01-18 13:41] fischer1 commented on #198
The right thing to do here is to open a file with name:

session.hpts_out

________________________________
From: Lane Carasik [notifications@github.com]
Sent: Tuesday, January 17, 2017 11:28 PM
To: Nek5000/Nek5000
Cc: Subscribed
Subject: [Nek5000/Nek5000] hpts subroutines - Rewrite to prevent exit of simulation if hpts.out is already found (#198)

Currently, Nek will exit or "crash" if a hpts.out

[2017-01-19 18:41] stgeke opened #199 "Mesh Quality Metrics"
I think it would be useful to compute/print some mesh quality metrics during the initialization phase. This way the user gets a warning if a metric is outside the acceptable range.

https://cubit.sandia.gov/public/14.0/help_manual/WebHelp/mesh_generation/mesh_quality_assessment/hexahedral_metrics.htm

[2017-01-19 18:44] pschlatt1 commented on #199
I think that would be a great feature. However... do we know what the acceptable range for Nek/SEM is?

[2017-01-19 18:48] stgeke commented on #198
It was designed as a safety feature to prevent overwriting, similar to the existing .sch file logic. I general I prefer the "do-what-I-say" mode instead some hidden magic trying to prevent a user mistake.

I agree with Paul, we should change the filename.

[2017-01-19 18:52] stgeke commented on #199
Actually I don't know.
To make it even more difficult:  Some of them are related to accuracy and/or performance.

[2017-01-19 18:54] pschlatt1 commented on #199
True! In any case, I agree having some numbers listed is very good in any case.

[2017-01-19 19:49] lcarasik commented on #198
I understand both of your perspectives and just for clarity, session is case name?

[2017-01-19 20:15] fischer1 commented on #198
Hi Lane,

yes...

blah.rea
blah.hpts_out
blah.hpts_in

etc.

________________________________
From: Lane Carasik [notifications@github.com]
Sent: Thursday, January 19, 2017 1:49 PM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Comment
Subject: Re: [Nek5000/Nek5000] hpts subroutines - Rewrite to prevent exit of simulation if hpts.out is already found (#198)

I understand both of your perspectives and just

[2017-01-19 20:16] lcarasik commented on #198
Ah thank you, just making sure.

[2017-01-20 19:02] stgeke opened #200 "outsource jl code as a library"
The jl-code started as a build-in component of Nek5000. To make it more visible/useable for other software projects we consider to release it as a separate library. This requires some refactoring of the current jl-code and the Nek5000 build system.

btw: This will speedup the compilation by >50% on most systems as we don't have to recompile the jl-code every nek build.

[2017-01-20 19:05] stgeke commented on #96
@ggiannako  If I recall correctly, you did performance experiments. Can you add more details?

[2017-01-20 19:15] RonRahaman commented on #200
When we do this, I think we should take the opportunity to provide a standardized build system for libjl.  In the past, I developed both a CMake and an autotools build system for Nek5000, including, and they're both quite nice.

[2017-01-21 13:41] ggiannako commented on #96
In a small 3D engine sim case (E=75k, lx1=6), for 100 steps (fixed dt), the average number of pressure iterations for PN/PN is 36% higher than PN/PN-2. In this case, this results to about 23% higher runtime.

[2017-01-21 15:25] fischer1 commented on #96
Can you send me the logfiles ?

Paul

________________________________
From: ggiannako [notifications@github.com]
Sent: Saturday, January 21, 2017 7:41 AM
To: Nek5000/Nek5000
Cc: Subscribed
Subject: Re: [Nek5000/Nek5000] Pressure solver performance for PNPN (#96)

In a small 3D engine sim case (E=75k, lx1=6), for 100 steps (fixed dt), the average number of pressure iterations for PN/PN is 36% high

[2017-01-23 10:32] rvinuesa commented on #96
Hi,

I have some data from a channel flow comparison we did quite some time ago, so not sure how relevant it would be. It is from 2014, and was done with version 758. We have three relevant cases:

1) 97,344 elements, N=11, Pn-Pn-2. Time per time step: 8.05e-1

2) 97,344 elements, N=11, Pn-Pn. Time per time step: 8.18e-1 [around 2% higher]

3) 97,344 elements, N=11, Pn-Pn + characteristics. Time p

[2017-01-23 14:04] #11 closed, assigned to nobody

[2017-01-23 14:05] #69 closed, assigned to nobody

[2017-01-23 14:12] stgeke commented on #115
@mattiasbr Can you please submit a pull request or should I close this issue for now.

[2017-01-23 14:14] stgeke commented on #130
Implemented in @ #194

[2017-01-23 14:14] #130 closed, assigned to nobody

[2017-01-23 14:15] stgeke commented on #122
@ananiast Can you please update me on this

[2017-01-23 14:16] stgeke commented on #128
Implemented in #134

[2017-01-23 14:16] #128 closed, assigned to nobody

[2017-01-23 14:20] stgeke commented on #153
@RonRahaman It looks like there is no old-style SIZE file in short tests right?

[2017-01-23 14:46] RonRahaman commented on #153
Yes, that's correct.  Thanks for reminding me of this issue!

[2017-01-23 14:53] RonRahaman commented on #153
@stgeke, which of the test problems would you like to run with the old-style SIZE file?  Also, would you like to run the whole test problem to completion or simply check the compilation?

[2017-01-23 15:03] stgeke commented on #153
Let's run (not just compilation) the eddy test using the old SIZE file.

[2017-01-23 16:10] #153 closed, assigned to RonRahaman

[2017-01-24 13:06] mattiasbr commented on #115
Sorry for being inactive, I will submit a pull request this week.

[2017-01-25 19:49] makavakh opened #204 "eddy_neknek problem with Hmholtz"
There is a problem with the Helmholtz solve in the eddy_neknek example that needs to be looked at. Here is a snippet from the logfile:

[2017-01-26 10:16] nicooff opened #205 "Faster AMG setup using Hypre library"
The AMG setup is currently performed by a Matlab code, which can be lengthy for large simulations. In order to make it faster, I have implemented a version of the setup using the Hypre library (in serial so far). I have tested this new setup on a few cases: setup time was drastically reduced while run time was not impacted. I think it would be great if this new setup could be tested by other users

[2017-01-30 14:10] stgeke opened #207 "Fast OIFS/Characteristics advection operator"
We may want to think about tuning our current OIFS/Characteristics advection operator implementation. Based on my experience, we spend more than 50% of the total computational time in this operator (using torder=2). Hot kernels (consuming 90%) for this operator are

- local_grad3
- specmpn

which are essentially MxMs.

Not sure if a vector version (computing all three components of the advection o

[2017-01-30 15:33] fischer1 commented on #207
It looks to me like we might get 2x performance by tuning this.
I'll see if I can get some help from one of my students.

Paul

________________________________
From: Stefan K. [notifications@github.com]
Sent: Monday, January 30, 2017 8:10 AM
To: Nek5000/Nek5000
Cc: Subscribed
Subject: [Nek5000/Nek5000] Fast OIFS/Characteristics advection operator (#207)

We may want to think about tuning our curr

[2017-01-30 17:26] stgeke commented on #200
Currently we compile the jl-code with the AMG_DUMP preprocessor symbol to dump some setup files. That's something we want to avoid if we consider jl as a true library.

@jlottes Can you think of an easy fix?

[2017-01-30 17:36] stgeke commented on #200
Similar for XXT or AMG. The user should be able to make this choice at runtime.

[2017-01-30 20:58] #205 closed, assigned to nobody

[2017-01-30 21:05] stgeke commented on #200
#208 eliminates `AMG_DUMP` and dumps automatically if the AMG solver input files are not found. To use the XXT or AMG solver we could link against a different library. This will avoid recompiling the jl library.

[2017-01-31 00:40] jlottes commented on #200
That sounds like a fine solution. It would also be trivial to rename the
main XXT and AMG solver routines and have a single entry point that
dispatches to either based on an argument.

On Mon, Jan 30, 2017 at 1:05 PM, Stefan K. <notifications@github.com> wrote:

[2017-02-01 14:30] negips opened #216 "Short tests: legacy SIZE file does not have declarations"
One of my pull requests is failing a test. It seems the reason is because the legacy SIZE file does not have declarations. So when I include implicit none is the code, it gives me errors regarding undeclared variables (in the SIZE) file. Could the legacy SIZE be updated to include declarations?

[2017-02-01 21:20] stgeke commented on #216
This is a feature not a bug as we want to continue to support the old SIZE files.

[2017-02-01 21:20] #216 closed, assigned to nobody

[2017-02-08 17:16] oanaoana opened #219 "Coarse grid stifness matrix symmetry breakdown for high aspect ratios"
It has been identified that for ratios of 1:100, typical for severely skinned elements, the matrix provided to AMG by the coarse grid solver loses its symmetry. @nicooff do you still have the old case from Aleks where we saw this? If not is easy to generate one with genbox. Also this may occur for even less sever aspect ratios, it has not been yet investigated.

[2017-02-10 16:18] stgeke opened #222 "makenek fails to identify the right compiler knobs"
The compilers specified in `makenek` may use specific knobs producing executables which cannot run on the login node. In this `makenek` will fail trying to determine pointer size, name mangling etc.

[2017-02-10 16:21] stgeke commented on #222
Reproduced on ANL's Theta (login node: Broadwell, compute nodes: KNL).
Cray MPI wrappers are using `MIC-AVX512` for the compute nodes while the login node does not support this instruction set.

[2017-02-11 17:43] #161 closed, assigned to klheisey

[2017-02-11 17:44] stgeke commented on #85
Do you want to submit a PR for this otherwise I will close it.

[2017-02-11 17:51] stgeke commented on #95
@fischer1 Instead of checking it every timestep (and turning it on if needed) we could just exit if both IFSPLIT and IFUSERVP are true?

[2017-02-11 17:51] stgeke commented on #95
@ananiast What do you think?

[2017-02-11 20:33] stgeke commented on #15
I am closing this issue for inactivity.

[2017-02-11 20:33] #15 closed, assigned to nobody

[2017-02-11 20:35] stgeke commented on #52
Most time consuming .re2 reader was parallelized in @ #203

[2017-02-11 20:35] #52 closed, assigned to nobody

[2017-02-11 20:41] stgeke commented on #110
Not sure if we can close this.
Is this causing any issue? How does this "bug" manifest itself?

[2017-02-11 20:57] stgeke commented on #96
Just checked turbChannel with different meshes, XXT and AMG. The difference in runtime between Pn-Pn and Pn-Pn-2 was lower than 10%.

For now, I am closing this issue as no longer reproducible.

[2017-02-11 20:57] #96 closed, assigned to nobody

[2017-02-12 10:45] #198 closed, assigned to nobody

[2017-02-12 18:57] kmittal2 commented on #85
Stefan,

I will submit the PR sometime this week.

Thanks,
Ketan

On Feb 11, 2017, at 11:44 AM, Stefan K. <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you want to submit a PR for this otherwise I will close it.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__git

[2017-02-12 19:03] lcarasik commented on #198
Was this issue closed due to inactivity? Or did I misunderstand the previous discussion that this feature already exists within the code?

EDIT: I see this has been addressed with the recent pull. Thanks for adding the feature Stefan!

[2017-02-13 10:09] adampep commented on #110
I've sent pull request for this (commit 63402bb434675a14e24bf602262a90158cc9ecea) and I guess it was merged. The problem was caused by operation going outside array bounds and setting to zero next variable. It is not really used in nek right now, but crucial for more advanced mesh operations (like amr)

[2017-02-13 17:44] stgeke commented on #222
Fixed in #223

[2017-02-13 17:44] #222 closed, assigned to nobody

[2017-02-13 17:44] stgeke commented on #190
Fixed in #223

[2017-02-13 17:44] #190 closed, assigned to nobody

[2017-02-13 17:44] stgeke commented on #186
Fixed in #223

[2017-02-13 17:44] #186 closed, assigned to nobody

[2017-02-13 17:45] stgeke commented on #126
Fixed in #223

[2017-02-13 17:45] #126 closed, assigned to fischer1

[2017-02-13 17:45] #110 closed, assigned to nobody

[2017-02-13 17:46] stgeke commented on #74
Partly implemented in #223

[2017-02-13 17:46] #74 closed, assigned to nobody

[2017-02-13 17:46] stgeke commented on #117
Fixed in #223

[2017-02-13 17:46] #117 closed, assigned to nobody

[2017-02-16 12:47] ananiast commented on #122
@stgeke These modifications are included in the current version for Pn-Pn

[2017-02-16 12:56] #122 closed, assigned to nobody

[2017-02-16 13:13] ananiast commented on #95
@stgeke @fischer1 I agree with Stefan, it is better to simply exit after reading the parameters in the case that IFUSERVP and IFSPLIT are true, with a message to the user that "If the viscosity is spatially varying (IFUSERVP=T) the coupled Helmholtz solver has to be used (IFSTRS=T) for PN/PN, otherwise you'll get a wrong result."

[2017-02-16 13:18] stgeke commented on #95
The drawback is that we break existing user cases. I guess that's ok having in mind that you may get a wrong result without knowing.

[2017-02-16 13:27] ananiast commented on #95
@stgeke should it be allowed to use IFSTRESS=F with PN-PN and variable properties if someone, knowing that the strain rate tensor is not correctly taken into account, still wants to do this?

[2017-02-16 13:32] stgeke commented on #95
Can you think of a use case? I guess the user can always overrule the default settings setting the right flags in usrdat3 and/or userchk.

[2017-02-16 14:49] ananiast commented on #95
@stgeke well this is what should be mentioned in the message then, e.g.: "EXIT because if the viscosity is spatially varying (IFUSERVP=T) the coupled Helmholtz solver has to be used (IFSTRS=T) for PN/PN, otherwise you'll get a wrong result. If you still want to use the IFSTRS=F you can overrule the default settings by setting the right flags in usrdat3 and/or userchk"

[2017-02-28 17:40] mattiasbr commented on #115
The discussed modifications have been implemented. Currently, these only apply to uzawa_gmres() and not to hmh_gmres() used in PnPn, although similar changes probably could be made to that case as well.

In addition, LGMRES (Baker et al. 2005) has been implemented for Pn-Pn-2. The code has been tested on the 2D-flow around a cylinder (Re=100) and for this simple problem LGMRES yields no improvemen

[2017-03-13 22:04] jklai12 opened #230 "exo2nek tool"
I tried to get exo2nek to compile and couldn't get it to work with a 64-bit system. I noticed that the README says to use the "exoIIv2for32" libraries, but even after trying the other libraries from seacas-exodus, I was getting errors.

I had to use a 32-bit machine to convert the exodus file to re2 / rea, and am attaching a quick documentation of what I did.
[exo2nek_info.pdf](https://github.com/

[2017-03-14 11:47] ggiannako commented on #230
The tool works fine in 64-bit systems. The "Relocation truncated to fit" error you report is memory-related and specific to your system. You may consider reducing the maximum number of elements in exo2nek/SIZE file and/or use the BIGMEM="TRUE" flag in maketools when compiling.

In general, you do not need to modify exo2nek.f and recompile in order to specify your case-specific BCs. The exodus side

[2017-03-14 15:09] stgeke commented on #230
I am closing this issue because it's not a bug. We may want to use dynamic memory allocation in a future version.

[2017-03-14 15:09] #230 closed, assigned to nobody

[2017-03-15 14:46] adampep opened #232 "corrections for NekExamples"
A few corrections to make few examples to run:
- pgi serial for all examples
- cylrestart
- incldef

[2017-03-16 14:48] #232 closed, assigned to nobody

[2017-03-20 00:44] RonRahaman opened #236 "makenek crashes when FFLAGS has a "/" character"
I see that makenek.inc has been updated to use many of the same variables as GNU make, such as $FFLAGS and $CFLAGS.  However, if $FFLAGS or $CFLAGS have a "/" character (for example, if a pathname is in the variable), the following sed expression in makenek.inc will crash.  I suggest we use a ":" character in those expressions, instead.

[code]

[2017-03-24 21:55] makavakh opened #238 "Overflowing a 4 byte integer in mfi_getv (in ic.f)"
The problem is here:
`nread = nxyzr*nelr/lrbs`
`nread` is a 4 byte integer, but in my case `nxyzr*nelr` was much larger than a 4 byte integer can hold. It was assigning a wrong value to `nread` and  later crashing when `lim_chk` was called.
A simple (but hacky) solution is to have a different variable `nread8` defined as `integer*8`, calculate:
`nread8 = nxyzr`
`nread8 = nread8*nelr`
`nread8 = nre

[2017-03-25 06:11] stgeke commented on #238
You are reading files larger than 4GB per MPI rank?

[2017-03-25 14:35] fischer1 commented on #238
I think the issue was simply that an intermediate value in the computation
exceeded 2B :

  nread = nxyzr*nelr/lrbs

Here, the product (nxyzr*nelr) can be large, before it is divided by lrbs.

I'd normally suggest doing the divide first, but I'm not 100% certain of the

rouding / mod() consequences with integer divide in this particular spot in

the code.

Paul

________________________________
Fr

[2017-03-25 15:10] pschlatt1 commented on #238
we had a similar issue with exactly that line in ic.f. Our solution was essentially what was suggested at first:

nread = int(  int(nxyzr,8)*int(nelr,8)/int(lrbs,8)  ,4)

which worked for us, but of course is just a tweak. Not sure whether int(XXX,8) is standard-compliant though.
Philipp

[2017-03-27 10:08] stgeke commented on #238
* how can the result (nxyzr*nelr) overflow if nelr is < 100'000 per rank (larger numbers will exceed the available memory on most systems)
* int(x,8) is not F77 compliant

[2017-03-27 10:13] stgeke commented on #238
My comment only holds if you read from multiple fld-files, such that nelr (per file) is say <100'000. This might not be the case. I'll fix it.

[2017-03-27 12:12] stgeke commented on #85
#224

[2017-03-27 12:12] #85 closed, assigned to nobody

[2017-03-27 12:23] stgeke commented on #236
#240

[2017-03-27 12:23] stgeke commented on #238
#240

[2017-03-27 15:22] makavakh commented on #238
I was reading a single large file (more than 3M elements with lx1=8) and wanted to write multi-file output. So this was done without MPIIO. In my case nxyzr*nelr was more than 4 billion.

[2017-03-27 15:27] makavakh commented on #238
Yes, the problem was the intermediate value was larger than what 4 byte integer can hold. Dividing first won't work for some cases because integer division can simply give zero.

[2017-03-27 18:13] stgeke commented on #238
That's why. For performance reasons I would use multiple fld files or MPIIO for dumping and reading.

On 27 Mar 2017, at 19:58, makavakh <notifications@github.com <mailto:notifications@github.com> > wrote:

I was reading a single large file (more than 3M elements with lx1=8) and wanted to write multi-file output. So this was done without MPIIO. In my case nxyzr*nelr was more than 4 billion.

—
You

[2017-03-27 19:14] makavakh commented on #238
I know but that file was generated by g2gi and I had to read it in and then switch to the multi-file format.

[2017-03-27 20:02] LambertFick opened #241 ".f0000# file read error"
Hello all,

We seem to be having an issue with loading .f0000# files created using previous versions of the code on the ANL BG/Q machines when using the latest master version. I checked the previous issues, and it seem something similar was fixed earlier:

Issue: https://github.com/Nek5000/Nek5000/issues/154

Ron mentioned that the regressions are not normally run on the BG/Q machines, so I just w

[2017-03-27 20:06] pschlatt1 commented on #241
we had some issues with big endian restart files from IBM machines at some point; I think it was in the mesh part...? Is there some more info from the output file?

[2017-03-27 20:11] LambertFick commented on #241
Attached is a logfile from Jon Lai (fellow student at TAMU), who is running into the same issue.

[logfile.txt](https://github.com/Nek5000/Nek5000/files/873667/logfile.txt)

[2017-03-27 20:31] stgeke commented on #241
Can you please try again with the latest master?

[2017-03-27 21:27] LambertFick commented on #241
I re-downloaded and tested, seems to be working on two cases of mine now.

Jon Lai also just confirmed that his runs are working now.

Sorry for the false alarm, as of my tests last week it didn't seem to be working, and the version Jon was using was a couple of weeks old.

Lambert

[2017-03-28 09:07] #241 closed, assigned to nobody

[2017-03-28 17:58] jklai12 opened #242 "Unable to read data from outpost"
After updating to the newest master version, I am having difficulty reading field files from outpost (in both VisIt and Nek).

In the attached logfiles, I made a test where I used "call outpost(vx,vy,vz,pr,t,'') " and then "call exitt" after a few time steps.
[logfile_outpost.txt](https://github.com/Nek5000/Nek5000/files/876596/logfile_outpost.txt)

Then, I tried reading the field file from outpos

[2017-03-28 18:03] lcarasik opened #243 "How to use interpolation with the new implementation?"
The recent changes to master nek branch has broken several users' routines involving spectral interpolation. Can someone please provide a proper explanation on what specific routines that are called were changed and how to re-implement them? Such as, if I previously used intpts_setup(tolin, ihandle) what do I replace it with?

[2017-03-28 18:09] stgeke commented on #242
Please send the output of `head init0.f00002 | strings`

-----Original message-----

[2017-03-28 18:13] jklai12 commented on #242
head init0.f00002 | strings does not give an output (whereas init0.f00001 does).

This means there is no header from the outpost field. Am I calling the outpost subroutine incorrectly?

[2017-03-28 18:13] stgeke commented on #243
Typically I would use the findpts routines directly. If you look for a simple wrapper just check intp.f

-----Original message-----

[2017-03-28 18:14] lcarasik commented on #243
Can you please provide an example of how you changed the routines? What is needed to ensure they are re-implemented properly?

[2017-03-28 18:18] stgeke commented on #243
There will be one in NekExamples (hemi) but we haven't updated it yet. It will be available one there is a official release.
Just look at intp.f - the interface is pretty much the same as the old one.

-----Original message-----

[2017-03-28 18:22] stgeke commented on #242
strange - outpost works for me

[2017-03-28 18:22] lcarasik commented on #243
I really recommend you include the example in Nek Examples WHEN you update the code. Also, why is an explanation (i.e. how to properly account for changes in user code) of the changes not included with major updates like this?

[2017-03-28 18:25] stgeke commented on #243
See Backward-Incompatible Changes

On 28 Mar 2017, at 20:23, Lane Carasik <notifications@github.com <mailto:notifications@github.com> > wrote:

I really recommend you include the example in Nek Examples WHEN you update the code. Also, why is an explanation of the changes not included with major updates like this?

—
You are receiving this because you commented.
Reply to this email directly, view i

[2017-03-28 19:04] stgeke commented on #243
I am sorry that your not satisfied with our performance. We try hard to keep you (the users) happy. We only break the backward comparability is there is no good alternative. The only thing we can do in this case is document the change.

I agree an updated NekExample should be part of the change. I am afraid sometimes time is pressing and there is no time to do the "right" thing.

If you look for s

[2017-03-28 19:22] lcarasik commented on #243
But the change wasn't documented. Yes the files were changed and can be seen on github, but the functionality was striped out of it's normal usage. There isn't even a description on the specific PR about what was changed and why. The user forum is a dumpster fire and is barely searchable.

Then the changes should be done in a fork and not to the master branch.

The point is, NekExamples only is so

[2017-03-28 20:12] jklai12 commented on #242
Looks like changing the compiler fixed this problem.

On Mira (a Blue Gene/Q system), using:
F77="mpixlf77"
CC="mpixlc"
instead of
F77="mpif77"
CC="mpicc"
worked

[2017-03-28 20:12] #242 closed, assigned to nobody

[2017-03-28 20:36] stgeke commented on #243
It's good that you care about the project. Are you willing to help us and update the hemi example and the user guide? We are looking for more collaborators.

[2017-03-28 20:41] emerzari commented on #243
Thanks Lane,

These are very good points and the move to git was meant to facilitate better practices: more documentation and explanation about changes. That, as you point out was not easy to do with SVN.

Obviously we are not there yet. The plan is to get there with a release. But we are striving for it and hopefully we will get there soon. Your help with the guide and pointing out issues is very

[2017-03-29 05:39] lcarasik commented on #243
@stgeke  Of course, I'm happy to help out. I've been wanting to update the user guide for awhile.

[2017-04-21 09:57] adampep opened #246 "use of imesh insted od imsh in cggo"
In cggo mesh mark is passed through argument imsh, but call to setfast uses defined in TSTEP imesh variable. In most cases imesh is set properly, but this is not consistent and causes EDDY_PSIOMEGA test case to brake.

[2017-04-23 14:36] fischer1 opened #249 "How to set NEKNEK flags in SIZE (SIZE.template)"
SIZE.template file has the following parameters:

      parameter (nsessmax=1,nmaxl=1,nfldmax=1,nmaxcom=1) ! multimesh parameters

But nowhere in the code is there a clue of how they should be set when someone
wants to run neknek.
(I've asked Ketan to look at this.)

[2017-04-24 17:59] RonRahaman commented on #249
How do these correspond to the variables set in SESSION.NAME by the bin/neknek script?

[2017-04-24 18:17] stgeke commented on #249
I think most of these parameters will be obsolete with the refactored NEKNEK implementation and the new `SIZE.template`.

[2017-04-24 18:17] #249 closed, assigned to nobody

[2017-04-24 18:18] stgeke commented on #246
@ #247

[2017-04-24 18:18] #246 closed, assigned to nobody

[2017-04-25 20:03] stgeke opened #253 "Summary NekTests.py"
It would be great to get a summary at the end

[2017-04-25 20:05] stgeke opened #254 "Reading AMG input files for large element counts"
The current implementation can become a bottlenek for large cases. We should think about an optimized parallel version.

[2017-04-25 20:10] #115 closed, assigned to nobody

[2017-04-25 20:12] stgeke commented on #152
For now I think we are ok with a simple absolute delta. If we really need ATOL+RTOL I will reopen this issue.

[2017-04-25 20:12] #152 closed, assigned to RonRahaman

[2017-04-25 20:20] stgeke opened #255 "Different polynomial order for scalars"

[2017-04-26 14:31] stgeke opened #256 "Reading .map file for large element counts"
For large element counts this is a major time consumer (e.g. 6min for 15M elements on 32768 cores). We may have to switch to a new binary format (.ma2) and read the file in parallel.

[2017-04-26 18:11] RonRahaman opened #257 "implementing NekTestCase.run_neknek()"
In #48, I introduced nekBinRun.run_neknek(). We should also implement NekTestCase.run_neknek() as a wrapper.

Duplicate of Nek5000/NekExamples#61, as the fix needs to be made both here and in NekExamples.

@kmittal2

[2017-04-26 20:55] stgeke commented on #238
#258

[2017-04-26 20:55] #238 closed, assigned to nobody

[2017-04-26 20:55] stgeke commented on #236
#258

[2017-04-26 20:55] #236 closed, assigned to nobody

[2017-04-26 20:59] stgeke opened #259 "Automatic detection of input fld format"
There is no need for a user to specify the input fld format as we can figure that out at runtime.

[2017-04-27 02:30] fischer1 opened #260 "amg files need a name (e.g., for neknek)"
When running neknek, we have more than one set of case files.

For amg, we'll need to name the amg files --

I suggest:

blah_amg.dat
blah_amg_W.dat
etc.

If the code doesn't find them with the "blah_" prefix it would look for files without
the prefix.

Here, "blah" would be the session name.

This will allow use of AMG + neknek.

Paul

[2017-04-27 13:38] stgeke commented on #260
How would `gislib` (here we are reading/writing the AMG files) know our session name? Any chance to run the different neknek session in different directories?

[2017-04-27 14:20] fischer1 commented on #260
Running in different directories is a pain for the user, inflicted a 100 times a day, several days per week.

[2017-04-27 14:33] adampep opened #261 "Small correction to comp_vort3 for shear4_thin test"
correcting small issues in navier5 for vorticity calculation

[2017-04-27 14:45] stgeke commented on #135
https://docs.google.com/spreadsheets/d/1-ip0iWwiLyThQS_jPsDgQ8Pt62_pht1hdHuCqy84lKg/edit#gid=0

[2017-04-27 14:47] stgeke commented on #200
Implemented in #258

[2017-04-27 14:47] #200 closed, assigned to nobody

[2017-04-27 15:04] stgeke commented on #243
See `hemi` example.

[2017-04-27 15:04] #243 closed, assigned to nobody

[2017-04-27 15:10] ananiast opened #263 "cvode for scalars used with characteristics for velocity fails"

[2017-04-27 16:25] aobabko opened #264 "Extention of OIFS to conjugate heat transfer cases"
Currently, characteristic timestepping scheme is not implemented in case of conjugate heat transfer solutions.   One possible approach for its implementation would be to treat advection of temperature in fluid and solid domains with OIFS and BDF, correspondingly.

[2017-04-29 03:22] fischer1 opened #267 "makenek seems to not notice SIZE dependency anymore ?"
Hi,

When I edit SIZE, then

makenek blah

should recompile all dependent .f files, but it doesn't do this anymore.

[2017-04-30 14:46] RonRahaman commented on #267
I think I see what this issue is.  In makefile.template, the rule for rebuilding the Fortran objects when SIZE changes is:
[code]
Prior to PR #258, the variable `$(NOBJ_F)` was set to be all the Fortran objects.  However, after PR #258, `$(NOBJ_F)` is no longer set to anything.  I'll revert that particular change right now.

[2017-05-01 13:09] RonRahaman commented on #267
Fixed by @stgeke

[2017-05-01 13:09] #267 closed, assigned to RonRahaman

[2017-05-01 20:04] stgeke commented on #263
Fixed in https://github.com/Nek5000/Nek5000/commit/fec00f71d63be291b0a7bd91d81c4ee858787906

[2017-05-01 20:04] #263 closed, assigned to nobody

[2017-05-01 20:05] stgeke commented on #261
Fixed in @ #265

[2017-05-01 20:05] #261 closed, assigned to nobody

[2017-05-08 09:17] stgeke opened #269 "CVODE with Pn/Pn-2"
In this case there is no call to the CVODE solver. This needs to be fixed.

[2017-05-08 10:47] fischer1 opened #270 "Support IFMPI FALSE"
It seems the current code does not link/execute with IFMPI false.

Specifically, the issue (I guess) has to do with gslib not being compiled in that way.

We'll need to compile both versions of the library so that the correct one is linked.

[2017-05-08 10:53] fischer1 commented on #270
Apologies...  It looks like this is not an issue in the current version.

[2017-05-08 10:53] #270 closed, assigned to nobody

[2017-05-10 16:19] stgeke opened #273 "valid map/re2 pair"
We may want to add a re2-checksum to our map file. This ensure that the map and re2 are consistent.

[2017-05-11 10:39] stgeke opened #274 "Free Surface Flow with PnPn"
Seems to be broken as the pressure solve doesn't converge.

[2017-05-11 11:56] fischer1 commented on #274
I've never known PnPn to support free surface?

[2017-05-11 12:01] stgeke commented on #274
Ok in this case we should print at least an error message saying `MS` BCs are not supported with PnPn. We should also remove the PnPn runs for all free surface flow examples on Jenkins.

[2017-05-17 10:47] stgeke opened #280 "ICEM support for exo2nek"
@ggiannako Can we support both CUBIT and ICEM with exo2nek

[2017-05-17 11:01] ggiannako commented on #280
In principle yes, only minor modifications will be needed to support ICEM as well. However, as far as I know, there is a bug in ICEM when exporting hex27 elements to exodusII files that requires the mesh to be loaded into CUBIT and re-exported to exodus...

@emerzari: do you know if this is fixed in the latest ICEM version?

[2017-05-24 15:09] RonRahaman opened #286 "OpenACC race condition in hsmg_extrude?"
In the OpenACC branch, there appears to be a race condition when ` h1mg_schwarz_part1()` calls `hsmg_extrude()`.

The parallelization of `hsmg_extrude()` is straightforward and, other than the OpenACC pragmas, appears to be unmodified from the CPU code:

[code]

Most calls to `hsmg_extrude()` work correctly.  However, when `arr1` and `arr2` point to the same array, it seems like a race condition c

[2017-05-31 18:38] RonRahaman commented on #286
This appears to be fixed in PR #290.  It seems that the problem was not a race condition but rather an incorrect inlining of rzero().

[2017-05-31 18:38] #286 closed, assigned to RonRahaman, misunmin

[2017-05-31 20:29] RonRahaman opened #298 "makenek.inc bug with PGI compilers"
There is a bug in makenek.inc that can often cause problems with the PGI compilers.  In particular, it fails to identify the PGI compiler correctly.

This portion of makenek.inc is one attempt to detect the compiler:
[code]
If you have set 'F77=pgfortran`, then the 'pgfortran -show` command will do the following (according to the manpage):
[code]
And then `F77comp` will eventually be set to this g

[2017-06-01 14:16] fischer1 opened #299 "why opgrad instead of gradm1 for PnPn?"
For PnPn, I don't see why we don't use an equivalent of gradm1(), instead of opgrad().

gradm1() will be literally 10x faster.   Opgrad makes 27 mxm calls, gradm1 makes only 3.

I see in opgrad the following code commented out, but I don't know why it is commented
out.

The same will be true for multd().   In recent timings that I saw, this savings would yield a 9% reduction in run time.

c

[2017-06-01 18:41] ananiast commented on #299
opgrad is called in plan4 and drive2, and only for ifsplit=true (Pn-Pn). In the beginning of the routine though, unless it is an axisymmetric case, it calls wgradm1 which is very similar to gradm1. multd is only called for axisymmetric problems.

[2017-06-01 20:35] fischer1 opened #300 "HOW DO I TURN OF IFMPI IN MAKENEK ???"

[2017-06-01 20:36] fischer1 commented on #300
Never mind... I found it...

[2017-06-01 20:37] fischer1 commented on #300
HOWEVER,

Where do I put the flags   G='Ktrap=fp, mcmodel=medium'  etc ??

[2017-06-01 20:39] fischer1 commented on #300
OK... found that one too ...

[2017-06-02 06:22] stgeke commented on #300
In FFLAGS

On 1 Jun 2017, at 22:36, fischer1 <notifications@github.com <mailto:notifications@github.com> > wrote:

HOWEVER,

Where do I put the flags G='Ktrap=fp, mcmodel=medium' etc ??

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-02 08:36] #300 closed, assigned to nobody

[2017-06-02 08:36] #299 closed, assigned to stgeke, ananiast

[2017-06-02 09:56] stgeke commented on #298
Yes we rely on the assumption that only the MPI wrappers have a `-show` or `-showme` argument. At the moment I don't have a good idea how to fix this.

[2017-06-02 12:03] stgeke opened #302 "Clean-up old RANS"
The current source contains an old k-eps implementation. This is something we need to clean-up before we add the new k-eps, k-omega, k-omega-SST RANS module.

[2017-06-02 13:33] RonRahaman commented on #298
Understood.  For now, I'm fine if I just compile with IFMPI=false, F77=mpif77, and CC=mpicc, where the MPI compilers are PGI installations.  The GPU work is running in serial on CPU now, but we're almost to the point where we can run with MPI on CPU, too.

[2017-06-05 17:58] RonRahaman opened #308 "nekpbs script?"
Was nekpbs removed from the repo at some point?

[2017-06-06 19:19] RonRahaman opened #313 "singlerod in OpenACC Travis tests"
@emerzari requested that we add the singlerod example to the OpenACC Travis tests

[2017-06-07 16:52] RonRahaman opened #316 "legacy .usr template w/o "implicit none""
@fischer1 requested that we include a legacy .usr file without "implicit none"

[2017-06-08 18:09] fischer1 opened #323 "bcdirsc called in plan4 ?"
C     Copy temporary array to temperature array.

      write(6,*) 'this is ifield',ifield
      stop
      call col2(s,tmask(1,1,1,1,ifield-1),ntot)
      call add2(s,tmp,ntot)

These lines are in bcdirsc(), which is called from plan4.

ifield = 1, but tmask() is not declared with 0:ldimt1 .... Besides, I assume you
would want pmask here?

So, should there be

if (ifield.eq.1) call col2(s,pmask,n

[2017-06-08 18:13] fischer1 commented on #323
AHA!

Guess what... tmask(....,0) == pmask() ... by the good fortunes of Tyche

[2017-06-12 08:58] #323 closed, assigned to fischer1, stgeke, ananiast

[2017-06-12 09:00] stgeke commented on #316
That's already in place e.g. `short_test/eddy/eddy_uv.usr`

[2017-06-12 09:00] #316 closed, assigned to nobody

[2017-06-12 09:02] stgeke commented on #308
I don't think we should ship job scripts for queueing systems. Hence I removed it.

[2017-06-12 09:02] #308 closed, assigned to nobody

[2017-06-12 12:45] fischer1 commented on #316
Can we have a  /core/zero.usr that is with out implicit none?

I use that file all the time...

[2017-06-12 17:06] thilinarmtb opened #326 "Generate .rea and .re2 in Nek5000"
Looks like genbox does not generate both .rea + .re2 when the dimension
in box file is set to negative. I have to use reatore2 to convert from .rea to
.rea + .re2.

Is there a workaround other than just using reatore2? What is the motivation
behind this change?

Thanks in advance !!

[2017-06-12 17:19] thilinarmtb opened #327 "Nek5000 now require to use AMG for larger problem sizes"
Looks like Nek5000 now require to use AMG for larger problem sizes (say, 2^19)
and stop the run if AMG is not used for these sizes. Is there a way to stop this
behavior and keep running Nek5000 normally for larger meshes?

Thanks in advance !!

[2017-06-13 05:59] stgeke commented on #327
The code limits the XXT usage to 350'000 elements otherwise the factorization would take a long time. We may want to increase this number to 500'000.

[2017-06-13 06:18] stgeke commented on #326
This was introduced with the new `.par` replacing the `.rea` file . In this format the mesh and the solver runtime parameters are stored in different files. The legacy `.rea` stores everything in one file. I recommend to use either `.par & .re2` or the good old `.rea`.

[2017-06-13 16:08] thilinarmtb commented on #327
Hi Stefan, Thank you very much for the reply !!

Looks like I can get around this by setting p040=1.

I am closing this issue.

[2017-06-13 16:08] #327 closed, assigned to nobody

[2017-06-13 18:02] thilinarmtb commented on #326
Hi Stefan,

Thank you for the reply. How do I create a ".par" file and ".re2" file using newer genbox?

[2017-06-13 19:32] stgeke commented on #326
`genbox` is a meshing tool so it does not generate a `.par` file. Currently there is no tool to generate a `.par` file. Just start from e.g. `short_tests/ethier` and modify it to your needs.

[2017-06-13 19:48] thilinarmtb commented on #326
Thanks for the reply Stefan !!

I will give it a try.

[2017-06-15 18:19] fischer1 commented on #316
To be clear, I'd like zero.usr in /core to be without implicit none.

We can zero_none.usr be with implicit none.

[2017-06-16 11:43] #326 closed, assigned to nobody

[2017-06-20 13:30] stgeke commented on #274
@fischer1 Any news?

[2017-06-21 02:39] kent0 commented on #298
@RonRahaman @stgeke I submitted a PR to fix the bug: #334

[2017-06-23 14:28] kent0 opened #335 "License compatibility"
Nek5000 is BSD licensed, but a utility in /bin called git-hub is GPLv3. From my understanding of how licensing works, that should make Nek5000 GPLv3 as well. If this is the case, LICENSE needs to be updated or git-hub needs to be replaced with BSD licensed code.

[2017-06-23 17:18] stgeke commented on #335
I don't this this is an issues as bin/git-hub is an third party program which is independent of Nek5000. 

On 23 Jun 2017, at 16:27, Kento Kaneko <notifications@github.com <mailto:notifications@github.com> > wrote:

Nek5000 is BSD licensed, but a utility in /bin called git-hub is GPLv3. From my understanding of how licensing works, that should make Nek5000 GPLv3 as well. If this is the case, LICEN

[2017-06-23 17:34] kent0 commented on #335
Ok, thank you for the clarification

[2017-06-27 17:48] #335 closed, assigned to nobody

[2017-06-30 15:14] fischer1 opened #338 "makenek clean should clean...."
[ I realize there is a clean clean, but this is contrary to users' expectations ]
... this from Kento...

Prof. Fischer:

The following is the steps I took to try to get Nek working with Blue Waters:

- I first compiled with cray and realized that it doesn't work
- switched to pgi
- ran `makenek clean; makenek eddy_uv`
- it resulted in linking errors

The problem is that when I run `makenek clean`

[2017-06-30 15:21] stgeke commented on #338
Most compilers are linking compatible so there should be no issue.
Run 'makenek realclean' to recompile everything (including all 3rd party libs - for now it is just gslib).

[2017-06-30 15:27] stgeke commented on #338
I think we need two existing options:

* makenek clean: compile all nek5000 source
* makenek realclean: compile all including 3rd party source

A single clean is not very convenient as recompiles (potentially) a lot of stuff which was not changed. This wastes my time ;)

[2017-06-30 15:28] fischer1 commented on #338
Hmmmm.....

This is not an uncommon situation, however.

I've also had exactly the same problem.

I almost never user "makenek clean" .... Since makenek checks SIZE for dependencies,
makenek clean is saved for those special situations when you really want it "clean"

Our build time is not so onerous that this is an issue, and our build time should never be
so onerous that this is an issue, so it s

[2017-06-30 15:40] stgeke commented on #338
How about the following: "makenek clean" will ask you if you want to wipe off the 3rd-party stuff. This way it's fully transparent to the user.

[2017-07-01 22:44] fischer1 opened #340 "how to download nek5000 examples ?"
When I google "nek5000 examples" , it takes me here:

https://nek5000.mcs.anl.gov/nek-examples/

when I get there, there is no button or instruction on how to grab the git repository

??

[2017-07-02 00:14] fischer1 opened #341 "mg_nx2 - what value for intermediate smoothing level in hsmg ?"
It seems that mg_nx2 is fixed to be 3 for PnPn, but not for PnPn2.

I think that mg_nx2=3 is correct for both cases.  (This is the polynomial order for
the intermediate smoothing level in hsmg.)

However, we sometimes have PnPn cases that do not converge as well as PnPn2.

So, perhaps in one of those cases we should try mg_nx2 = (nx1/2) instead.

[2017-07-02 00:25] kent0 commented on #340
@fischer1 You can download it by running the following command:

`git clone https://github.com/Nek5000/NekExamples`

[2017-07-02 07:21] fischer1 commented on #340
Thanks - Yes I eventually found the DOWNLOAD button.

I still think the page needs to be changed because, as it stands, it's obvious how to download the documentation, but not the Examples.

Even after clicking the DOWNLOAD tab, the next page does not clearly tell how to get the Examples.

This is wrong.

[2017-07-20 11:24] #298 closed, assigned to nobody

[2017-07-23 20:22] person142 opened #347 "Continue to support generating `map` files from an `re2`?"
It seems that with the changes in https://github.com/Nek5000/Nek5000/commit/2d1b8db3fbd1714d57f94ce368c0dff0fed24d18 a `ma2` file will always be generated from an `re2` file with `genmap`. (Perhaps I am misunderstanding, in which case my apologies.)

In NekCEM we use the Nek5000 tools to generate rea/re2/map files, but we haven't ported the upstream changes to allow us to use `ma2` files, so using

[2017-07-24 08:47] stgeke commented on #347
How about having your own tools in NekCEM. This will ensure that you are always compatible.

On 23 Jul 2017, at 22:21, Josh Wilson <notifications@github.com <mailto:notifications@github.com> > wrote:

It seems that with the changes in 2d1b8db a ma2 file will always be generated from an re2 file with genmap. (Perhaps I am misunderstanding, in which case my apologies.)

In NekCEM we use the Nek5000

[2017-07-25 09:17] #347 closed, assigned to nobody

[2017-07-30 00:53] fischer1 commented on #341
OK - I did a quick study.  The settings seem optimal for each PNPN and PNPN-2 as they are.

[2017-07-30 00:53] #341 closed, assigned to nobody

[2017-07-31 20:00] fischer1 opened #348 "P20 & old .rea files"
It appears that param(20) currently triggers some tolerance behavior in hmholtz.f

However, it was pointed out to me today that there are some historic .rea files floating around from when param(20) used to store the integer  "NORDER", which could be positive or negative.

These files apparently end up with unexpected behavior...

[2017-07-31 20:27] emerzari commented on #348
Yes.

I believe this was done by Stefan a while ago to manipulate the tolerance of the temperature separate from the velocity.

 I also pointed pointed out the inconsistency with legacy .rea.

Elia
________________________________
From: fischer1 [notifications@github.com]
Sent: Monday, July 31, 2017 3:00 PM
To: Nek5000/Nek5000
Cc: Subscribed
Subject: [Nek5000/Nek5000] P20 & old .rea files (#348)

[2017-07-31 20:36] fischer1 commented on #348
Here is a suggestion ---

Let's ignore p20 as set in any .rea file, but allow users to set p20 in the .usr file (only).

This is similar to the way p99 behaves and to p66/67.

Also, on a related topic, I think we're going to need to be able to explicitly control tolerances for all fields, including the unknown mesh velocity when using ALE+elasticity solver.

Maybe a "tolfld" vector ?

[2017-08-03 12:25] stgeke commented on #348
Fixed in https://github.com/Nek5000/Nek5000/commit/7d707a5f3078396d283304994958e383779cfe4b

[2017-08-03 12:25] #348 closed, assigned to nobody

[2017-08-04 16:21] #340 closed, assigned to nobody

[2017-08-16 14:54] stgeke commented on #269
Fixed in https://github.com/Nek5000/Nek5000/commit/d52c9bd361bcadb1de6b3954c02a2a387156120f

[2017-08-16 14:54] #269 closed, assigned to nobody

[2017-08-16 14:55] stgeke commented on #95
Fixed in https://github.com/Nek5000/Nek5000/commit/d52c9bd361bcadb1de6b3954c02a2a387156120f

[2017-08-16 14:55] #95 closed, assigned to nobody

[2017-08-16 14:57] stgeke commented on #260
I don't think there is a portable way to pass strings between Fortran and C. Any other ideas how we tell `gslib` what files to read?

[2017-08-16 15:32] stgeke commented on #256
Implemented new binary ma2 reader (still works in serial). Waiting for performance results from @aobabko.

[2017-08-16 15:34] stgeke commented on #204
Will be fixed with #252

[2017-08-16 15:34] #204 closed, assigned to nobody

[2017-08-17 09:21] nicooff opened #352 "Dimension of ifqinp causes bug in 2D"
The array `ifqinp(6,lelv)` (in GEOM), which decides if boundary values need to be projected normally to the surface, is initialized to false like this in subroutine `setlog` (bdry.f):

[code]

In 2D, it means that some elements are not initialized since memory is not contiguous. This caused some issues for one of my case and my fix was to declare the array as `ifqinp(2*ldim,lelv)`.

Same goes with

[2017-08-19 15:37] fischer1 opened #354 "nekqsub still missing?"
It's difficult to tell users how to run in a batch queuing system if we have no example in Nek5000/bin, e.g., something like:

rm *cobalt*log
rm logfile
rm *output
rm *error

echo  "#!/bin/bash"                                              > $1.batch
echo  "#COBALT  -q gpu_mules"                                   >> $1.batch
echo  "#COBALT  -n 1"                                           >> $1.bat

[2017-08-25 10:38] stgeke commented on #354
Queueing system use different workflows to launch a job. I doubt it that we can come up with a good template which is helpful for the user. A good starting point is `nekmpi`.

[2017-08-25 12:06] fischer1 commented on #354
I've been running on batch systems for decades and I always end up using something derived from the above or its ancestor.

I think we should be able to point users to some kind of template.  [ I just grabbed the COBALT one, but a more generic one would be based on nqs or whatever. ]

[2017-08-29 23:20] mlodea opened #359 "Problem with domain size in output files; bounds smaller than grid"
Hi All,
Using genbox to generate my rectangular grid, has been working fine with equidistant and manually stretched grids.  Now having problems with a larger grid of 300x300x600m; 40x40x50 elements. If I use equidistant grid, all is OK. If I manually stretch, problem runs fine, sets domain dimensions correctly and generates 80000 elements (from logfile).  Problem is when displaying in VISIT, it sh

[2017-08-29 23:55] mlodea commented on #359
Another shot of a pseudocolor velocity plot, showing full domain (300x300x600m, 40x40x50); and bounding box at ~ 90x300x350.

![visit0025](https://user-images.githubusercontent.com/31399235/29849158-ff35c470-8cf2-11e7-9bfe-616e1c77329c.png)

Plot showing velocity 2D contour taken at vertical plane; normally this shows outline of flow in velocity field, here it only shows two "patches" of flow.  If

[2017-08-29 23:57] lcarasik commented on #359
All,

I experienced this same issue using ViSIT and started using Paraview as a
result. Murph, that may provide a decent alternative till a fix can come
through.

Thanks!

Lane

On Tue, Aug 29, 2017 at 4:55 PM mlodea <notifications@github.com> wrote:

--
(303)653-8699
<lcarasik@tamu.edu>l <lcar722@gmail.com>ane.carasik@gmail.com

[2017-08-30 00:02] emerzari commented on #359
This happens to me if the plane crosses element boundaries. Can you try moving slightly the plane (say z=50.0-epsilon instead of z=50.0)?

On Aug 29, 2017, at 6:57 PM, Lane Carasik <notifications@github.com<mailto:notifications@github.com>> wrote:

All,

I experienced this same issue using ViSIT and started using Paraview as a
result. Murph, that may provide a decent alternative till a fix can com

[2017-08-30 00:07] mlodea commented on #359
Plots from a run with domain 150x150x300, 32x30x25 elements; box file attached...
![visit0027](https://user-images.githubusercontent.com/31399235/29849569-acae3c7a-8cf5-11e7-8b10-3c95aa295df0.png)
![visit0028](https://user-images.githubusercontent.com/31399235/29849565-aca9ebca-8cf5-11e7-91c4-28f25b648e68.png)
![visit0029](https://user-images.githubusercontent.com/31399235/29849567-acad03f0-8cf5-1

[2017-08-30 04:44] fischer1 commented on #359
Murph,

By any chance, is the geometry present in more than one of the f000 files?

I'm wondering if it's picking up geometry both before and after the stretching?

Paul

________________________________
From: mlodea [notifications@github.com]
Sent: Tuesday, August 29, 2017 6:55 PM
To: Nek5000/Nek5000
Cc: Subscribed
Subject: Re: [Nek5000/Nek5000] Problem with domain size in output files; bounds sm

[2017-08-30 07:59] stgeke commented on #359
Was this reported to the VisIt guys?

[2017-08-30 10:59] stgeke commented on #352
#353

[2017-08-30 10:59] #352 closed, assigned to nobody

[2017-08-31 01:04] mlodea commented on #359
Thanks for all the replies...

stgeke - The VisIt site is my next stop ;-).

Paul - I've been doing two outputs; the first one is almost twice the size as the second, So I assume it is properly dumping the grid output on the first...

emerzari - I get the same results as I move around, at least with several tries...

Lane - I seem to be having the same experience; haven't used paraview in a long t

[2017-09-01 03:44] lcarasik commented on #359
Glad Paraview will work in the mean time.

[2017-09-01 06:43] adampep opened #361 "CylRestart_P fails because of possible gslib problem"
After a number of tests and digging into the code it seems I've found the source of the problem with new projection scheme in CylRestart_P test. I focused on non-stress formulation for pn-pn and pn-pn-2. For pn-pn both pressure and velocity projection use the same routines, however pn-pn-2 shares with pn-pn only velocity projection routines. The problem appears for parallel runs using velocity pro

[2017-09-01 16:09] mlodea commented on #359
Hi All,
The Visit folks are going to take a look at a set of my output files; Thanks a lot for the help; I'll close this for now...
Murph

[2017-09-01 16:09] #359 closed, assigned to nobody

[2017-09-06 21:27] hackljf commented on #338
While I appreciate that having gslib keep its object code unchanged is a very common use case, it has been a very serious problem for users of Lawrence Livermore's HPC systems because that site uses networked /home mounted on a wide variety of different supercomputers. I need to "rip out" gslib (I just learned about "realclean" today) and recompile everything every time I change a single case on a

[2017-09-08 10:31] stgeke opened #363 "Add residual projection for coupled Helmholtz solve"

[2017-09-09 12:00] stgeke opened #364 "hopr2nek converter"
It looks like HOPR (https://www.hopr-project.org) can help us when it comes to:
- build meshes for simple geometries (box, pipe, sphere, torus)
- convert linear meshes into high-order mesh (curved boundary as well as in the whole volume)
- reading different mesh formats (CGNS, GMSH, ICEM, ANSA, …)

Project on GitHub: https://github.com/flexi-framework/hopr
Output format specification: https://www.

[2017-09-18 18:23] stgeke opened #365 "Avoid gllel and gllnid scaling with lelg"
Our current design involves two integer arrays gllel and gllnid scaling with lelg. This introduces a serious limitation for large element counts: Assuming 512MB/core of memory is available, our memory footprint should be lower than 350MB (OS, MPI and MPI-IO require some memory too). This results in a hard-limit of 44M elements even if the local problem size is ZERO.

[2017-09-19 07:22] #280 closed, assigned to nobody

[2017-09-19 07:23] #257 closed, assigned to nobody

[2017-09-19 07:39] stgeke opened #366 "Parallel + online genmap"
The current (serial) version is reaching its limits: Square box with 32M takes 49h and 45GB of memory.

[2017-09-19 07:41] stgeke commented on #366
Some comments from Paul:

I think that for E > 10^7 we're going to need several things... Some combination of below
are reasonable options:

1.  Generate .rea files that have std. FEM layout:

       points    (xyz triplets)
       vertices  (8 integer sets pointing to points)

Thus, the topology is built in.   In many of our code, we already have this topology but
throw it away (e.g., in prenek)

[2017-09-20 12:47] stgeke opened #367 "make use of non-blocking versions of gs_op() and gs_op_many()"
Only available in GSLIB's openacc branch, at least for the moment.

[2017-09-20 12:53] stgeke opened #368 "New mesh format"
In contrast to our current format it should support:
* high-order elements
* connectivity

We may want to consider CGNS.

[2017-09-28 09:29] stgeke commented on #365
Here is a possible workaround
* genmap reads .par/.re2 and outputs in addition to .ma2 a new .re2 file
* elements in new .re2 are ordered according to their genmap-rank (similar to a space-filling-curve format)
* nek will map the sorted list of elements to processors using some appropriate mod factor such that every MPI rank gets a contiguous set of elements
* gllnid and gllel compute their return

[2017-10-02 20:16] RonRahaman opened #381 "singlerod OpenACC errors on summitdev"
Last week, when using the "openacc" branch, I discovered that the "singlerod" example fails at runtime on summitdev.  The OpenACC runtime produces a "data partially present on device" error.

I used a git bisect and and found that 03725f1bbf298de93ea812d6209778b2c4b1984d was the first bad commit on summitdev:
[code]

This returned the runtime error:
[code]

[2017-10-03 13:22] fischer1 commented on #361
This issue appears to be resolved with my lastest navier4.f

[2017-10-03 14:55] adampep commented on #361
Yes. I've just checked the file Paul sent me (not in repository yet) and it works. However, the question about gs remains open. What Paul changed is operations order. Correct me if I'm wrong. Old version (probably to minimize communication) first performs local projection on existing base, next calls global sum (only once) and finally subtracts contributions from different base vectors. Paul's ver

[2017-10-03 15:45] fischer1 commented on #361
Hi Adam,

I dug into this quite carefully and am fairly convinced that this is a numerical stability issue where one version of gslib produces slightly (e.g., at machine round-off level) different results than the other.  The old version was based on classical Gram-Schmidt, the new one is modified Gram-Schmidt.

Your question is a good one and one that I asked myself.  As far as I can tell, pairwi

[2017-10-03 16:22] RonRahaman opened #382 "Stale URL to CVODE download"
Some collaborators are reporting that the CVODE install currently fails.  It looks like the URL for the CVODE download in 3rd_party/cvode/install is stale:

https://github.com/Nek5000/Nek5000/blob/4f97f68071b024de14574dd50e7cc5d9acbabfc3/3rd_party/cvode/install#L5

When I run that command on the command line, the download fails.

It looks like v2.9 is not archived on the [CVODE website](https://co

[2017-10-03 18:48] stgeke commented on #382
I just submitted a PR (#383) with an updated install script which I did not merge yet as all CI tests fail (because download of CVODE fails)

@RonRahaman Can you please do the following:
* make Travis use the new CVODE install script (see my PR)
* compile and install CVODE only for short_test using CVODE (currently we do this for every short_test )

[2017-10-04 02:30] RonRahaman commented on #382
I addressed those two bullets, but I'm still getting some errors.  Could you take a look?
https://github.com/RonRahaman/Nek5000/tree/cvode-install
https://travis-ci.org/RonRahaman/Nek5000/jobs/282996769

[2017-10-04 06:56] stgeke commented on #382
It looks like we do not link against CVODE. In my PR #383 I do this automatically depending on PPLIST. This assumes that the CVODE libraries are located in 3rd_party/cvode/lib. That's the default location of  the install script  3rd_party/cvode/install.

[2017-10-04 19:06] stgeke commented on #382
Fixed in #385

[2017-10-04 19:06] #382 closed, assigned to RonRahaman

[2017-10-12 18:32] fischer1 opened #392 "Benard short test broken?"
It seems like ray_dd does not run straight away?

It seems that reducing dt is required...

[2017-10-13 01:22] fischer1 commented on #392
It seems like ray_dd runs ok for pnpn-2, but not pnpn under the current settings.

The svn version seems to work for both pnpn and for pnpn-2

[2017-10-13 02:08] fischer1 commented on #392
Looks like we can reduce dt by half and this case will run.  I guess we should do that
so that this example works.

(It's quite impressive, we can get to 1707.764 when lx1=16.  I'm certain this is correct.

[2017-10-13 17:02] stgeke commented on #365
Looks like the global element ordering is important for the following applications:
* averaging (extruded meshes)
* coupling with 3rd party solvers
* recycling BC

So we may have to rethink and check what the alternatives are.

[2017-10-15 13:13] stgeke commented on #392
Agreed!

btw: What's the reason to have this as a short-test rather than an example? Does it test a specific unit or feature what is otherwise not tested?

[2017-10-19 03:39] GerritBotha commented on #198
Hi Neks

I am following the advice Paul gave to Lane regarding the hpts. I renamed my probe points file to "case.hpts_in", where "case=2s_2.0d" and added call hpts() to my usrchk. When the code is run my logfile as the following error right after my initial conditions from a restart file is loaded.

 call userchk
 dump history points
 reading history points
 Cannot open history file in subroutine

[2017-10-19 03:41] lcarasik commented on #198
Hey Gerrit,

What version of history points are you using? If you're using the old version, you can only use a file called hpts.in for it to work.

If you are using the new version of history points, I recommend looking at the hemi example to see how to do the new implementation.

[2017-10-19 03:46] GerritBotha commented on #198
Hey Lane

I downloaded the github verson about a month ago. Tried the hpts.in format, but did not work either. I`ll look at the example.

Thanks!

[2017-10-19 03:47] lcarasik commented on #198
Best of luck, if there is an easier way to show off the new implementation, please consider writing a short tutorial on it!

[2017-10-19 03:50] GerritBotha commented on #198
I looked at the example and it seems that they are doing particle tracking. I require a line interpolation of the velocity field at certain locations

[2017-10-19 03:56] lcarasik commented on #198
Ah my mistake, I don't remember where else you can find it at the moment. But this link should get you started, https://github.com/Nek5000/Nek5000/pull/223/commits/110f412b55ea847b4b8593da57fe258cedca4a8c

In principle, it should work the same, but I'm not sure the exact syntax.

Try, casename.his

[2017-10-19 04:04] GerritBotha commented on #198
I tried all the above variations. When using casename.his gets renamed to casename.his1, but still crashes after loading the initial values.

[2017-10-19 04:07] lcarasik commented on #198
How does it crash? What is the error? Same as above?

[2017-10-19 06:28] stgeke commented on #198
Please update to a more recent version. All this was fixed some time ago.

On 19 Oct 2017, at 06:08, Lane Carasik <notifications@github.com <mailto:notifications@github.com> > wrote:

How does it crash? What is the error? Same as above?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-19 06:31] stgeke commented on #198
If there is still a problem please create a new issue instead file of using this issue which is closed.

On 19 Oct 2017, at 08:30, Stefan K. <notifications@github.com <mailto:notifications@github.com> > wrote:

Please update to a more recent version. All this was fixed some time ago.

On 19 Oct 2017, at 06:08, Lane Carasik <notifications@github.com <mailto:notifications@github.com> <mailto:notific

[2017-10-19 13:50] GerritBotha opened #396 "hpts() cant read history points"
Hi Neks

I have recently started using Nek and downloaded the github version.

I need to track the instantiations velocities  over a line in my domain. Following the update I created a file, hpts.in, with the xyz coordinates I wish to track and then calling hpts() in usrchk.

After Nek loads the restart file, it exits stating it cant read the history file.  Lane gave a work around:

you make the h

[2017-10-19 14:48] stgeke commented on #396
Please provide “casename.his” containing your history points. The interpolated fields will be appended to this file. So it is used for input and output.

On 19 Oct 2017, at 15:50, GerritBotha <notifications@github.com <mailto:notifications@github.com> > wrote:

Hi Neks

I have recently started using Nek and downloaded the github version.

I need to track the instantiations velocities over a line i

[2017-10-19 15:02] #396 closed, assigned to nobody

[2017-10-19 15:04] GerritBotha commented on #396
Hi Stefan

Please see attached file

[2s_2.0d.zip](https://github.com/Nek5000/Nek5000/files/1398892/2s_2.0d.zip)

Regards

[2017-10-19 15:15] stgeke commented on #396
What should I do with this file? Please let me know if my reply does not resolve your problem.

[2017-10-19 15:28] stgeke commented on #396
I was not asking for you .his file instead I wanted to tell you that you have to provide a casename.his instead of hpts.in. See release notes!

On 19 Oct 2017, at 17:16, Stefan K. <notifications@github.com <mailto:notifications@github.com> > wrote:

What should I do with this file? Please let me know if my reply does not resolve your problem.

—
You are receiving this because you are subscribed to

[2017-10-19 21:09] GerritBotha commented on #396
Hi Stefan

I re-downloaded Nek to ensure i have the newest version. Renamed my history
file to <casename>.his and called hpts() in the usrchck.

When running the code it renames my .his file to .his1 and exits with:

 done :: set initial conditions

 call userchk
 dump history points
 reading history points
 Cannot open history file in subroutine hpts()

call exitt: dying ...

On Thu, Oct 19, 2017

[2017-10-19 21:19] stgeke commented on #396
How do you launch your run? Are you using a script?

On 19 Oct 2017, at 23:10, GerritBotha <notifications@github.com <mailto:notifications@github.com> > wrote:

Hi Stefan

I re-downloaded Nek to ensure i have the newest version. Renamed my history
file to <casename>.his and called hpts() in the usrchck.

When running the code it renames my .his file to .his1 and exits with:

 done :: set initial c

[2017-10-19 21:26] GerritBotha commented on #396
Hi Stefan

No I just submit the job to Cetus using the submission script

Regards
G

On Thu, Oct 19, 2017 at 4:19 PM, Stefan K. <notifications@github.com> wrote:

--

*Gerrit Botha* | *Graduate Research Assistant*

*M.Eng (Nuclear), B.Eng (Mechanical)*

Texas A&M Nuclear Engineering

M-103A AI Nuclear Engineering | 3133 TAMU | College Station, TX 77843-3133

(979) 422-6399

gerritbotha@tamu.edu <f

[2017-10-20 11:09] stgeke commented on #396
I cannot reproduce what you see. It looks like something is renaming your .his file. May be your job submission script?

[2017-10-20 11:20] stgeke commented on #338
Now makenek asks the user if we wants to clean all 3rd-party objects as well.

[2017-10-20 11:20] #338 closed, assigned to nobody

[2017-10-20 11:22] #256 closed, assigned to nobody

[2017-10-20 11:25] #108 closed, assigned to nobody

[2017-10-20 11:26] #254 closed, assigned to nobody

[2017-10-20 15:47] stgeke opened #397 "Projection for scalar fails"
https://lists.mcs.anl.gov/pipermail/nek5000-users/2017-October/004671.html

[2017-10-27 15:35] GerritBotha opened #401 "findpts_setup"
Hey Neks
 Hope someone can help me with this. I have a script that calculates the y+ values of my domain and dumps it in one of the passive scalars.

When it comes to compiling I get a invalid reference to findpts_setup, findpts and findpts_eval while using the newest github version of NEK. Going thought the code I find, under the 3rd party codes, that I do have a findpts.c file where the routines

[2017-10-27 16:04] stgeke commented on #401
All gslib routines have been prefixed with "fgslib" (just run grep in core). So you have to call fgslib_findpts(...)

-----Original message-----

[2017-10-27 18:25] GerritBotha commented on #401
Thank you!

[2017-10-28 07:54] #401 closed, assigned to nobody

[2017-11-01 10:45] cfrouzak opened #402 "nekmerge fails"
message:

At line 19 of file reader.f
Fortran runtime error: Bad integer for item 1 in list input

[2017-11-10 17:04] stgeke opened #406 "Support OIFS w/o dealiasing"

[2017-11-10 21:14] stgeke opened #407 "Build-in MPI Timers wrong"
Currently they don't include MPI calls from external libraries like GSLIB, CVODE ...

[2017-11-11 17:08] #63 closed, assigned to fischer1

[2017-11-11 17:09] #361 closed, assigned to fischer1

[2017-11-12 18:33] stgeke commented on #397
Fixed in https://github.com/Nek5000/Nek5000/commit/71573b1904e27a9fa15bff13752292545d3d2943

Disabled by default as it consumes too much memory.

[2017-11-12 18:33] #397 closed, assigned to fischer1

[2017-11-12 18:33] stgeke commented on #302
Done in https://github.com/Nek5000/Nek5000/commit/71573b1904e27a9fa15bff13752292545d3d2943

[2017-11-12 18:33] #302 closed, assigned to nobody

[2017-11-15 04:55] stgeke opened #412 "Online mesh smoother"

[2017-11-15 05:13] #64 closed, assigned to fischer1

[2017-11-15 05:14] stgeke opened #413 "Make postnek reading .par"

[2017-11-15 17:45] stgeke opened #415 "add restart options for gfldr"

[2017-11-15 17:45] stgeke opened #416 "Make prenek reading .par"

[2017-11-17 13:14] adampep opened #419 "wget for gslib instalation on cray"
Hi. We've just discovered that wget does not work the same way on our local cray computer as on our laptops, so we cannot compile current nek version there. It does download gslib code, but cuts tar.gz extension and cause compilation to stop

[2017-11-17 15:22] stgeke commented on #419
Ok I will check.
btw: The release will come with all required tarballs.

-----Original message-----

[2017-11-17 16:07] stgeke commented on #419
Does it work if you replace

  wget https://github.com/gslib/gslib/archive/v$VER.tar.gz

by

 wget -O v$VER.tar.gz https://github.com/gslib/gslib/archive/v$VER.tar.gz

in gslib/install

-----Original message-----

[2017-11-17 16:24] #135 closed, assigned to nobody

[2017-11-19 18:28] stgeke opened #421 "Add full stress formulation for PnPn"
All traction boundary conditions are currently not supported.

[2017-11-19 18:29] stgeke opened #422 "Axi-symmetric broken"

[2017-11-19 18:30] stgeke commented on #381
Can you please update me on this.

[2017-11-20 16:17] RonRahaman commented on #381
I haven't addressed this issue yet.  My recent GPU efforts were the memory optimizations in PR #423

[2017-11-20 22:25] kent0 opened #424 "prenek is broken when made with `./maketools all`"
When I make prenek with `./maketools all` and run `prex`, the screen does not show the usual red banner on the right; and when I type in a response, it does not move onto the next query.

When I make prenek with `./maketools prenek` (after `./maketools clean`) and run `prex`, everything works as expected.

[2017-11-20 22:29] kent0 opened #425 "wget is not available on MacOS by default"
curl is available, but uses a different syntax. I can write a short wrapper function around curl to provide the same functionality as wget.

[2017-11-20 22:38] stgeke commented on #425
Our dev-environment requires wget.
The release will not need wget as we ship all 3rd-party tarballs with our release.

-----Original message-----

[2017-11-21 10:46] #425 closed, assigned to nobody

[2017-11-21 13:58] emerzari commented on #273
This would be useful for users. It is a common user error, once you change the mesh to forget to redo genmap. The code will output several error messages as a result (e.g., negative jacobians) but it may take the user a while to figure out the actual error.

[2017-11-21 15:41] stgeke commented on #419
Adam, can you please confirm if the latest fix works for you.

[2017-11-21 21:23] RonRahaman opened #427 "Move some OpenACC copyin nek_init?"
Right now, the initial hsmg memcopies are done in nek_solve (see the link below):

https://github.com/Nek5000/Nek5000/blob/4e3ad03bec63ea11e313931213e78c9b457e0c4b/core/drive1.f#L199

However, some of that device data is needed in nek_init.  For example, this call stack leads to an hsmg_extrude call that requires the mg_work array on device.

[code]

[2017-11-21 22:13] stgeke commented on #424
Fixed in https://github.com/Nek5000/Nek5000/commit/15679de982c7cb41e72ec278ef6b5c39c1ade931

[2017-11-21 22:13] #424 closed, assigned to nobody

[2017-11-24 14:27] stgeke commented on #419
Fixed

[2017-11-24 14:27] #419 closed, assigned to stgeke

[2017-11-25 08:18] stgeke opened #430 "Incorrect results with Cray compiler"
I tested Pn/Pn and Pn/Pn2.
The results are correct if the was compiled without optimizations `-O0`.

[2017-11-25 11:44] stgeke opened #431 "Add short test for variable viscosity"

[2017-11-27 08:14] njansson commented on #430
We were about to push a fix for this. One of the arrays in semhat (fast3d) is declared as `w(0:1)` while being `w(0:2*n+1)`, causing various badness.

[2017-11-28 13:22] stgeke commented on #430
I tested the Ethier short test with PR #432 and the results are still incorrect. The pressure and velocity solve converges but the initial residual is wrong. For now I am disabling the support for the Cray compilers.

[2017-11-28 14:56] fischer1 commented on #430
Does this mean we can't run on the Cray ?

(I guess Cray supports other compilers?)

I can ask one of the students to look into this....  There must be a Cray flag that admits
the

      a(0:1) , b(1)

type declarations as they are part of linpack / LAPACK and therefore must be
part of the fortran standard.   (For example, in linpack, when you pass in an array
A, you pass only  lda, not lda and td

[2017-11-28 15:03] stgeke commented on #430
No Cray machines support other compilers like Intel. I don't think there is such a flag. It has to do with some compiler optimizations because it works with "-O0". We can look into the assembler code to figure out what's going on in this case. However, it looks like there are other things which go wrong.

-----Original message-----

[2017-11-28 15:11] fischer1 commented on #430
This might be why we have the LAPACK routines compiled with -O0, which always freaks people out...
(of course, they are not in our core kernels)

[2017-11-28 17:12] pschlatt1 commented on #430
Indeed, the declared size of the dummy array "w" should not matter in Fortran 77, as long as the array that is passed in is large enough (the old Fortran style would have been to declare it w(*) if I remember well. If it started at 1 that is). However, -O0 might also change the internal memory layout, so there might still be a memory issue somewhere that goes undetected.

[2017-11-29 09:39] stgeke commented on #422
Input from @ananiast :
Tested it and it seems that there is something funny and is related to the axis elements...
it looks like the convergence is not exponential and it may be related to interpolation from
Jacobi to Legendre at elements close to the axis, but it should be converging exponentially..
Still looking, but it happens in a similar fashion for both Pn and Pn2...

[2017-11-29 09:41] stgeke commented on #422
Our current Axi short test does not test the solution, just the gmres iteration counts. That's something we need to fix as well.

[2017-11-29 15:39] stgeke commented on #402
Fixed in https://github.com/Nek5000/Nek5000/commit/6980e4cf9cf0ad47b0241333ea5dcf8c8ef9a805

[2017-11-29 15:39] #402 closed, assigned to nobody

[2017-11-30 08:20] adampep opened #434 "genmap problem with intel"
All tests with intel fail most probably due to -shared-intel flag. There is linking problem
byte.c:(.text+0x165): undefined reference to `__intel_sse2_strcpy'

[2017-11-30 08:45] stgeke commented on #434
What tests are you talking about?

-----Original message-----

[2017-11-30 09:03] stgeke commented on #434
Oh your are talking about our tests on Jenkins. The problem is related to the fact that different compilers are used to compile genmap (see below). Make sure the env-vars FC and CC are correct. Also please import Nek5000 short_test/lib to make it compatible with the latest changes.

----------------------
Make genmap...
----------------------
make[1]: Entering directory `/sandbox/jenkins-ci/worksp

[2017-11-30 09:09] stgeke opened #435 "Spack Integration"

[2017-11-30 10:17] #434 closed, assigned to nobody

[2017-11-30 17:08] fischer1 opened #437 "Example demonstrating the new g2gi feature?"
The question has arisen on how to use the new g2gi restart feature.

Could we have an example that demo's how to do this?

[2017-11-30 17:11] stgeke commented on #437
I guess you are talking about the generic fld reader (gflr). The usage is pretty simple (e.g. in usrchk):

[code]

[2017-11-30 17:13] stgeke commented on #437
I agree with you - an example is useful. I am closing this issue as this request needs to go to the NekExamples repo.

[2017-11-30 17:13] #437 closed, assigned to nobody

[2017-11-30 19:14] kmittal2 opened #438 "Why do we filter pressure for PnPn?"
Why do we currently filter pressure for PnPn calculations?

[2017-11-30 19:30] stgeke commented on #438
Where in the code are we doing this?

-----Original message-----

[2017-11-30 19:34] kmittal2 commented on #438
Line 104,105 in navier5.f:

[2017-11-30 19:38] stgeke commented on #438
Hmm ... not sure. @ananiast?

[2017-11-30 21:08] rajeeja opened #439 "Compilation error for exo2nek on Ubuntu16.04"
make[1]: Leaving directory '/home/jain/exo2nek_Nek5000/tools/exo2nek/3rd_party/seacas-exodus/build'
f77 -c  -I./3rd_party/seacas-exodus/packages/seacas/libraries/exodus_for/include exo2nek.f
Warning: exo2nek.f:3: Illegal preprocessor directive
Warning: exo2nek.f:14: Illegal preprocessor directive
Warning: exo2nek.f:43: Illegal preprocessor directive
Warning: exo2nek.f:231: Illegal preprocessor dir

[2017-11-30 21:46] stgeke commented on #439
What Fortran compiler are you using?

-----Original message-----

[2017-11-30 22:12] rajeeja commented on #439
I have gfortran, but the problem is different.
Found it. I was doing "make" in exo2nek folder.
I should have done: ./maketools exo2nek in the tools directory.

[2017-12-01 08:04] stgeke commented on #439
This will not work. All the tools have to be compiled using our maketools script.

[2017-12-01 08:04] #439 closed, assigned to nobody

[2017-12-01 08:18] stgeke opened #443 "Make NEKNEK MPMD (Multiple Program Multiple Data)"
Currently we use the same executable for all sessions. This implies the following for all sessions:
- Same Memory footprint irrespective of the individual problem size
- Same polynomial order

[2017-12-02 16:36] stgeke commented on #443
Actually this works out-of-box so no changes are required.

[2017-12-02 16:36] #443 closed, assigned to nobody

[2017-12-04 08:08] stgeke opened #444 "Redirect stdout"
I think we should replace all

[code]

by `write(ustdout,`

This will allow us to write into different logfiles in case of multi-session runs.

[2017-12-04 12:49] fischer1 commented on #444
That would push a lot of lines over the 72 character limit --- but I agree with the principle.

I just learned (can you confirm?) that it's possible to change stdout in C and we could
handle the issue that way ?

[2017-12-04 14:53] stgeke commented on #444
Yes in C it's easy. In Fortran 77 that's the only way I can think of.

-----Original message-----

[2017-12-04 15:01] fischer1 commented on #444
My understanding is the following ---

Once std.out is redefined (by a piece of C code), then write(6,*) will write to std.out -- which
is the definition given by the C code, so it all should be good?

________________________________
From: Stefan K. [notifications@github.com]
Sent: Monday, December 04, 2017 8:53 AM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Comment
Subject: Re: [Nek5000/Nek5000] Redi

[2017-12-04 15:09] stgeke commented on #444
In C you can only redirect the output of say printf() not the stdout of the process, so the Fortran runtime library (implementing write) would not know about the redirection.

-----Original message-----

[2017-12-04 15:35] misunmin commented on #381
This has been fixed.
[590410990638aecfbf42e9a53cf8eb88af7c5b04]

[2017-12-04 15:36] misunmin commented on #427
This has been fixed.
[590410990638aecfbf42e9a53cf8eb88af7c5b04]

[2017-12-04 15:37] fischer1 commented on #444
OK... thanks.  One of my group was indicating otherwise...

We could just use the single character "o" for std. out --- it is not used anywhere.

      if (nio.eq.0) write(o,1) stuff

________________________________
From: Stefan K. [notifications@github.com]
Sent: Monday, December 04, 2017 9:09 AM
To: Nek5000/Nek5000
Cc: Fischer, Paul; Comment
Subject: Re: [Nek5000/Nek5000] Redirect stdout (#444)

[2017-12-04 15:39] #427 closed, assigned to nobody

[2017-12-04 15:40] #381 closed, assigned to RonRahaman

[2017-12-04 15:47] stgeke commented on #444
Yes but this is also error prone if a user has a local 'o' variable. Something more unique would be good.

-----Original message-----

[2017-12-04 21:47] hackljf opened #445 "eddy_rich short_test fails"
travis has complained about eddy_rich after testing my attempt to pull 6286a2ccacee79e15dcefd02c5dd93d0747fff98
into UFCCMT.

    SUCCESS: gmres: Test value 15.0 equals target value 0.0 +/- 20.0
    FAILURE: X err: Test value 0.0001442382 exceeds target value 5.497982e-05 +/- 1e-06
    FAILURE: Y err: Test value 0.0001376785 exceeds target value 8.064398e-05 +/- 1e-06
    FAILURE: P err: Test valu

[2017-12-05 10:19] stgeke opened #446 "Recompile automatically if a makenek variable changed"
Currently this is error prone e.g. when the user changes PPLIST a full recompilation is required.

[2017-12-05 10:21] stgeke commented on #445
This bug was introduced with the latest projection changes. Look like only Richardson is affected. In all other use cases projection works fine.

[2017-12-05 10:29] stgeke opened #447 "Test ifreguo and lxo in short_tests/io_test"

[2017-12-05 15:44] RonRahaman commented on #446
Perhaps `makenek.inc` could include logic to check if the user's `makenek` file is newer than the respective `nek5000` binary?

[2017-12-05 15:48] stgeke commented on #446
My plan was dump all relevant variables into a file e.g. `.state`. If the variables change (diff of current variables and .state is zero) I trigger a rebuild.

[2017-12-05 15:51] RonRahaman opened #448 "Non-zero return values upon error?"
I see that in many cases, Nek5000 will return zero even if an error occurs.  For example, `err_chk` will print an error message to stdout, but it will still call `exitt`, which returns 0.  Would you consider adding non-zero codes for the different classes of errors?

[2017-12-05 15:53] RonRahaman commented on #446
That sounds much more robust.  I know that autotools will sometimes complain about clock skew when it's attempting the same check, so your method would avoid that problem.

[2017-12-05 20:18] hackljf commented on #445
Thank you for clarifying. Just to make sure I understand, I ask: are the errors I show acceptable when I merge from upstream? May I assume they are not show-stoppers that recommend against merging to keep CMT-nek current with nek5000?

[2017-12-06 08:41] stgeke opened #450 "TOTAL should include all"
This is very misleading. You think you got all but you didn't. Argh!

[2017-12-06 08:47] stgeke opened #451 "Output checkpoints with a different polynomial order"

[2017-12-06 08:59] stgeke commented on #450
This is easy to change but it may create some backward compatibility problem with existing .usr files.

[2017-12-06 11:38] stgeke opened #453 "Faster findpts()"
Currently we are passing the mesh with the same N as the solution to findpts(). However, in most cases it is accurate enough to approximate the geometry with 1<=N<=4. In fact most 3rd-party meshing tools support only N=1 or N=2.

[2017-12-08 13:06] stgeke commented on #448
Fixed in https://github.com/Nek5000/Nek5000/commit/8499b9a5d6bc0402df7419fa22eabef894395457

[2017-12-08 13:06] #448 closed, assigned to nobody

[2017-12-08 13:08] stgeke commented on #445
I disabled the velocity residual projection for this short_test to make it pass. I do not close this issue because we have to revisit this problem.

[2017-12-08 13:08] stgeke commented on #446
Fixed in https://github.com/Nek5000/Nek5000/commit/8499b9a5d6bc0402df7419fa22eabef894395457

[2017-12-08 13:08] #446 closed, assigned to nobody

[2017-12-08 13:10] stgeke commented on #363
Implemented in https://github.com/Nek5000/Nek5000/commit/6980e4cf9cf0ad47b0241333ea5dcf8c8ef9a805

[2017-12-08 13:10] #363 closed, assigned to fischer1

[2017-12-08 13:12] #260 closed, assigned to nobody

[2017-12-08 13:13] stgeke commented on #274
Duplicate to https://github.com/Nek5000/Nek5000/issues/421

[2017-12-08 13:13] #274 closed, assigned to ananiast

[2017-12-08 13:17] stgeke commented on #392
The current benard short_test works now for Pn/Pn as well.

[2017-12-08 13:17] #392 closed, assigned to nobody

[2017-12-08 13:19] stgeke commented on #412
Here a very first version: https://github.com/Nek5000/NekExamples/pull/9

[2017-12-08 14:36] hackljf commented on #445
Thank you Stefan. While I think there was a broad understanding and
accommodation of this issue, it's always nice to see Travis report success!

On Fri, Dec 8, 2017 at 8:08 AM, Stefan K. <notifications@github.com> wrote:

[2017-12-14 13:34] stgeke opened #457 "Inaccurate results for IFAXIS and filtering"
Error in axi short tests increases significantly when filtering is turned on.

[2017-12-15 00:54] dshaver14 opened #458 "filtering options"
par file reader requires general:filterWeight and general:filterCutoffRatio when general:filtering is set to 'none'
These should not need to be specified when running with no filtering.

[2017-12-15 11:39] stgeke commented on #458
Fixed in https://github.com/Nek5000/Nek5000/pull/456

[2017-12-15 11:39] #458 closed, assigned to nobody

[2017-12-15 11:41] stgeke commented on #422
Added test case in https://github.com/Nek5000/Nek5000/pull/456
See also #457

[2017-12-15 11:41] #422 closed, assigned to ananiast

[2017-12-15 11:44] stgeke commented on #444
Implemented in https://github.com/Nek5000/Nek5000/pull/456
In fact I was wrong. The C library function freopen redirects even the Fortran output.

[2017-12-15 11:44] #444 closed, assigned to nobody

[2017-12-15 11:46] stgeke commented on #438
Input from @ananiast: There is no reason not to filter the pressure with
Pn-Pn. Since the velocity is filtered and loses the last 2-3 modes the same can hold
for the pressure, there is no exact theory about this (maybe Paul can tell us more?)
For Pn-Pn-2 though the pressure order is already lower by 2 degrees so it should
not be filtered.

[2017-12-15 12:00] stgeke commented on #435
See https://github.com/spack/spack/pull/6153

[2017-12-15 13:08] fischer1 commented on #438
My general feeling has been that it's better to not filter the pressure.
Ketan had a case, however, where there was high wavenumber content
in the pressure that was readily cleaned up by the filter.   We'll look into
it.

[2017-12-15 19:16] pschlatt1 commented on #438
In my understanding the role of the pressure in incompressible flow is quite special as a Langrange multiplier, so filtering the pressure might break this. Not being too familiar with PnPn, perhaps there are some additional arguments why it should be used anyway. However, filtering the pressure every once in a while in order to remove noise is certainly ok.

[2017-12-17 17:39] stgeke commented on #457
Disabled filtering for IFAXIS. If required one can use HPFRT.

[2017-12-17 17:39] #457 closed, assigned to nobody

[2017-12-17 17:40] stgeke commented on #445
Fixed in https://github.com/Nek5000/Nek5000/pull/459

[2017-12-17 17:40] #445 closed, assigned to nobody

[2017-12-17 17:42] stgeke commented on #421
All traction bcs are disabled for PnPn, at least for now.

[2017-12-19 15:32] kmittal2 commented on #199
I can look into this... We already use a metric for mesh-optimization. I plan on adding more metrics to it, and I guess those same metrics can be evaluated at the beginning of a run. We should also be able to use these metrics as triggers for automatic mesh optimization of deforming meshes.

[2017-12-21 07:02] XXXXThomas opened #461 "postprocessing with Paraview"
Hi, dear experts on Nek5000
    I am a freshman here and I want to visualize the result by Paraview. Could you please give some suggestions how I could reach the goal. Thank you very much.

[2017-12-21 07:17] lcarasik commented on #461
Hi Thomas,

This isn't the best place for a question such as this. Have you followed the tutorial here? http://nek5000.github.io/NekDoc/tutorials.html

Edit: Don't say sorry! It's alright to ask questions, but it might be better to focus them towards the nek user mailing list: https://nek5000.mcs.anl.gov/community/

[2017-12-21 07:23] XXXXThomas commented on #461
Hi lcarasik
    Thank you for your helpful link and I am also very sorry to ask questions here. I will try my best to learn from the tutorials.
    Edit：Thank you for your sincere comment for me about shooting my troubles and I have tried to send email to nek5000-users@lists.mcs.anl.gov for any useful suggestions. But I have not received any reply yet. And what I am querying about is the format is

[2017-12-21 07:23] #461 closed, assigned to nobody

[2018-01-09 15:30] stgeke commented on #365
What follows is an alternative to the workaround described above.

Basic Idea:
- Split the existing gllnid and gllel arrays into NP approximately equal-sized chunks and distribute them across the MPI ranks
- Use one-sided communication to transfer data between distributed array and local storage
- Use a local lookup hash-table (of size e.g. 2*lelt)

Workflow Example for gllnid(ieg):

1) find local

[2018-01-12 16:01] RonRahaman opened #463 "makenek: use fixed-format flags for XL compilers?"
Could we update makenek so that, for the IBM XL compilers, a fixed-format flag (like `-qfixed=72`) is automatically used?

On Summitdev, when you load the XL modules, mpif77 is aliased to xlf90:

[code]
so we get syntax errors without the `-qfixed` flag.

It's easy to workaround by adding `-qfixed` to makenek myself, and I'm not sure if the mpf77 --> xlf90 aliasing is an issue on many other system

[2018-01-17 10:53] adampep opened #464 "maketools for intel compiler"
There is a problem with intel compiler on jenkis which appeared after mpi wrappers were used for compiling tools. After some checking I found, that on some machines (e.g. cray) mcmodel conflicts with mpi wrapper. So I can compile:
ifort -c -DMAXNEL=150000 -fpp -shared-intel -mcmodel=medium -r8 genmap.f
but mpi wrapper
ftn -c -DMAXNEL=150000 -fpp -shared-intel -mcmodel=medium -r8 genmap.f
gives
ifo

[2018-01-17 13:02] stgeke commented on #464
It a matter how you configure the wrapper. In your case the wrapper invokes (for whatever reason) -static

On 17 Jan 2018, at 11:54, Adam Peplinski <notifications@github.com <mailto:notifications@github.com> > wrote:

There is a problem with intel compiler on jenkis which appeared after mpi wrappers were used for compiling tools. After some checking I found, that on some machines (e.g. cray) mcmod

[2018-01-18 13:47] adampep commented on #464
It seems to be slightly more complex. I've contacted support and they said cray has  CRAYPE_LINK_TYPE variable defining way of linking, so on cray one should set it to dynamic. Other solution would be adding -dynamic flag to intel directly in maketools. It seems to work on our cray.

[2018-01-18 15:06] stgeke commented on #464
I see. Here something else we have to think about: Most wrapper are designed for the compute nodes and not for the login node where you typically compile and run the tools.

On 18 Jan 2018, at 14:48, Adam Peplinski <notifications@github.com <mailto:notifications@github.com> > wrote:

It seems to be slightly more complex. I've contacted support and they said cray has CRAYPE_LINK_TYPE variable defin

[2018-01-21 23:09] fischer1 opened #466 "why is this posted on github?"
ensure that you have at least 50 elements per MPI process (the more the better)

??

[ I sort of get it --- it depends on target audience --- but, it's totally wrong?!? ]

The fewer the better, of course --- but you have to think.

?

[2018-01-22 09:22] stgeke commented on #466
Is this in the documentation? In this case, please open an issue in NekDoc.

You are right, this is wrong if you are interested in time to solution. I guess this is an old advise regarding parallel efficiency.

On 22 Jan 2018, at 00:10, fischer1 <notifications@github.com <mailto:notifications@github.com> > wrote:

ensure that you have at least 50 elements per MPI process (the more the better)

??

[2018-01-22 11:01] stgeke commented on #464
Can we close this issue or is there anything we need to fix/change?

[2018-01-22 11:03] stgeke commented on #463
Yes we can add this flag, if this helps.

[2018-01-22 11:06] #435 closed, assigned to nobody

[2018-01-22 11:46] adampep commented on #464
No, I think we can leave it the way it is right now. I will test -dynamic flag on cray and possibly make pull request.

[2018-01-22 11:46] #464 closed, assigned to nobody

[2018-01-25 16:05] nicooff opened #467 "Cannot turn off projection for velocity"
Hi,

When using PnPn-2, it looks like projection is turned on based on the value of `param(94)` only and not via the variable `ifprojfld`.  In `plan3`:

`mstep = abs(param(94))`
`if (param(94).ne.0. .and. istep.ge.mstep) then`
`   call ophinv_pr(dv1,dv2,dv3,resv1,resv2,resv3,h1,h2,tolhv,nmxh)`

and in subroutine `ophinv_pr`:

`ifproj = .false.`
`if (param(94).gt.0)    ifproj = .true.`
`if (ifprojf

[2018-01-25 16:27] stgeke commented on #467
It works for me. How can I reproduce what you see?

[2018-01-25 16:33] nicooff commented on #467
One colleague had the problem when using cyclic boundary condition. I will ask for the files.

[2018-01-25 19:36] stgeke commented on #467
It looks like we do not call the coupled helmholtz solver if ifcyclic=true and p94>0 (default with par). This will produce incorrect results!

Having this in mind it is currently not possible to call the correct (coupled) helmholtz solver using par or rea with projection.

[2018-01-25 19:36] #466 closed, assigned to nobody

[2018-01-25 19:37] stgeke commented on #463
@RonRahaman Can you please test this on Cetus/Mira. I just want to ensure that we don't break our build system.

[2018-01-25 19:53] RonRahaman commented on #463
Sure, I will check it out

[2018-01-31 14:42] tjwilso opened #469 "Converting to 2d results to VTK using PostNek"
Hi,

I have run into problems using postnek/postex to convert simulation output to VTK format for 2d simulations (3d simulations work fine). I have tested this using the eddy_uv example from the NekExamples directory. When using postex, I use the option "DUMP vtk ALL", which produces the attached VTK output (eddy_uv.vtk). It seems that the grid point position information is incorrect. Also, I have

[2018-01-31 16:21] RonRahaman opened #470 "Type error for mod(int(8), int)"
The IBM XL compiler for POWER8 expects the arguments to `mod` to be the same type.  Here, we are comparing an `int(8)` and an `int`, and the compiler raises a fatal error.

https://github.com/Nek5000/Nek5000/blob/375227de0b87792d0eabd6a07cb927e39a2bac06/core/reader_re2.f#L181

It can be fixed by explicitly casting:
[code]
I also tried to see if there was a compiler flag to suppress the error, but

[2018-01-31 16:22] RonRahaman commented on #470
Also occurs here:
https://github.com/Nek5000/Nek5000/blob/375227de0b87792d0eabd6a07cb927e39a2bac06/core/reader_re2.f#L288

[2018-01-31 17:17] stgeke commented on #470
Yes this  something we need to fix. The casting is not F77 compliant.

On 31 Jan 2018, at 17:22, Ron Rahaman <notifications@github.com <mailto:notifications@github.com> > wrote:

The IBM XL compiler for POWER8 expects the arguments to mod to be the same type. Here, we are comparing an int(8) and an int, and the compiler raises a fatal error.

https://github.com/Nek5000/Nek5000/blob/375227de0b87792

[2018-01-31 22:39] trudeaun commented on #470
@RonRahaman Which compiler are you using, is it `IBM XL Fortran for Linux V15.1.6`? Are you getting this as your error: `1513-041 (W) Arguments of the wrong type were specified for the INTRINSIC procedure "mod".`?

About suppressing diagnostic messages, it is possible on warning (W) and informational (I) messages, see [Knowledge Center](https://www.ibm.com/support/knowledgecenter/en/SSAT4T_15.1.6/

[2018-02-01 18:15] RonRahaman commented on #470
@trudeaun, that is all correct.  I'm using IBM XL Fortran for Linux on OLCF's Summitdev, and that is the error message I received.  I'll try using `-qsuppress=1513-041`.  Thanks!

[2018-02-16 14:05] kent0 opened #471 "Add conjugate heat transfer support for gfldr"
I think g2gi had support for cht, and I would like to use that functionality with the new version.

[2018-03-02 20:26] dshaver14 opened #473 "prenek: element vertices on grid intersections"
I'd like to be able to add points where two different grid types intersect, e.g. the hex grid and the radial grid

[2018-03-02 20:44] emerzari commented on #473
This would be a very nice feature.

On Mar 2, 2018, at 2:26 PM, Dillon Shaver <notifications@github.com<mailto:notifications@github.com>> wrote:

I'd like to be able to add points where two different grid types intersect, e.g. the hex grid and the radial grid

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/Nek5

[2018-03-02 21:06] lcarasik commented on #473
I agree. This would be a great feature.

On Fri, Mar 2, 2018 at 12:44 PM emerzari <notifications@github.com> wrote:

--
(303)653-8699
<lcarasik@tamu.edu>l <lcar722@gmail.com>ane.carasik@gmail.com

[2018-03-02 23:29] fischer1 commented on #473
I confess, I don't know what this request means.  Could someone please clarify ?

Paul

[2018-03-02 23:31] fischer1 commented on #473
Wait...

Yes!   (I understand.)

OK --- Let me think about it.  (It's not that easy... but maybe we can do it.)

[2018-03-08 20:32] ggiannako opened #474 "Support for IFAXIS + IFSTRS"
It would be nice to support IFSTRS=T (required if we want to have variable viscosity) when IFAXIS=T is used.

[2018-03-09 12:33] stgeke commented on #474
The code seems to work with this combination but the result is wrong.

[2018-03-09 13:11] stgeke commented on #471
I don't recall why I disabled it. Looks like it should work out of the box. Let me do some tests ...

[2018-03-09 13:34] stgeke opened #475 "Set boundary conditions in .par"

[2018-03-09 13:37] stgeke commented on #475
[VELOCITY]
BoundaryTypeID1 = Inlet
BoundaryID1Value = User # 1.0

BoundaryTypeID2 = Outflow

[2018-03-09 15:15] emerzari commented on #475
Note that this is tied to issue #183

[2018-03-09 16:08] ggiannako commented on #474
I know @ananiast is working on it.

[2018-03-14 08:12] pschlatt1 opened #477 "Implement Dong boundary condition"
Port the Dong boundary condition to the new version of Nek5000, including all the necessary changes in brdy.f, navier8.f, planx.f and a working user file.

[2018-03-14 10:48] stgeke commented on #477
Good idea. Let’s support PnPn as well and provide an example in NekExamples.

On 14 Mar 2018, at 09:13, Philipp Schlatter <notifications@github.com <mailto:notifications@github.com> > wrote:

Port the Dong boundary condition to the new version of Nek5000, including all the necessary changes in brdy.f, navier8.f, planx.f and a working user file.

—
You are receiving this because you are subscribed

[2018-03-20 08:41] stgeke opened #478 "Add short test for GFDM solver"

[2018-03-28 19:56] stgeke opened #480 "Eliminiate lelg scaling of restart element mapping (er array defined in RESTART)"
Instead we could read the restart data (for a given field) in chunks.

[2018-03-30 09:52] stgeke opened #482 "Enhance NEKNEK to support more than 2 sessions"

[2018-03-31 10:36] stgeke opened #483 "Add HEX20 support for exo2nek"
Currently exo2nek converts a HEX27 mesh to 8 vertices and 12 cuved sides of type 'm'.
This doesn't make sense to me:

* HEX27 is not part of the EXODUS-II standard
* Current output is equivalent to HEX20

I suggest to change to internal mesh representation of to HEX20 or support both types on input (default HEX20).

[2018-04-21 18:18] fischer1 opened #487 "ioinfo doesn't work when iostep=iotime=0"
ioinfo isn't working when iostep=0 and iotime=0, but it should.

[2018-04-25 22:30] kent0 opened #488 "Par does not support flow-rate prescription"
Currently there doesn't seem to be a par dictionary key for param(54) and param(55) which control fixed flow rate / Ubar.

[2018-04-27 07:17] stgeke commented on #488
Yes, not all rea file parameters are and will be supported. Use the .usr file instead.

Note, there is a PR for p55/p55.

On 26 Apr 2018, at 00:30, Kento Kaneko <notifications@github.com <mailto:notifications@github.com> > wrote:

Currently there doesn't seem to be a par dictionary key for param(54) and param(55) which control fixed flow rate / Ubar.

—
You are receiving this because you are subsc

[2018-05-04 13:36] stgeke opened #490 "Reader/Writer for Particle Data"
Name: particle%05d.vtu

Format: VTK XML unstructured grid, binary
Data:

* position
* vector or scalar quantities like (velocity or temperature)

Note: implementation shall use MPIIO but no other libraries like vtk

[2018-05-14 14:49] #467 closed, assigned to stgeke

[2018-05-14 14:49] #470 closed, assigned to stgeke

[2018-05-14 14:56] stgeke commented on #463
Fixed in https://github.com/Nek5000/Nek5000/pull/491

[2018-05-14 14:56] #463 closed, assigned to stgeke

[2018-05-14 14:57] stgeke commented on #453
Implemented in https://github.com/Nek5000/Nek5000/pull/491

[2018-05-14 14:57] #453 closed, assigned to stgeke

[2018-05-14 14:58] #438 closed, assigned to nobody

[2018-05-14 14:58] stgeke commented on #365
Implemented in https://github.com/Nek5000/Nek5000/pull/491

[2018-05-14 14:58] #365 closed, assigned to stgeke

[2018-05-20 13:24] fischer1 opened #493 "No info on how to git / build gslib"
We should list gslib on the Nek5000 git page -- and we should provide, somewhere, full instructions on how to build the current repo version of Nek5000.

I don't find it anywhere?

The current repo fails to build after I do git clone:

ld: warning: directory not found for option '-L/Users/fischer/Nek5000/3rd_party/gslib/lib'
ld: library not found for -lgs
collect2: error: ld returned 1 exit status

[2018-05-20 13:47] stgeke commented on #493
It should just work.

On 20 May 2018, at 15:24, fischer1 <notifications@github.com <mailto:notifications@github.com> > wrote:

We should list gslib on the Nek5000 git page -- and we should provide, somewhere, full instructions on how to build the current repo version of Nek5000.

I don't find it anywhere?

The current repo fails to build after I do git clone:

ld: warning: directory not found for

[2018-05-26 14:35] #493 closed, assigned to nobody

[2018-05-26 14:36] stgeke commented on #483
Fixed in https://github.com/Nek5000/Nek5000/commit/081025c3a55093a60bd2749004255875c2f2707f

[2018-05-26 14:36] #483 closed, assigned to nobody

[2018-05-27 12:43] stgeke opened #497 "gfortran 8.1 fails to compile"
Compilation fails as we are passing arguments containing too few elements for a dummy argument. Here is an example:

[code]

We do this quite frequently in the code.

To fix this we have two options:
- change to assumed size array e.g. `real a(*)`
- compile with `-std=legacy`

[2018-05-27 14:19] pschlatt1 commented on #497
I would prefer assumed size arrays. We have seen a similar issue for the Cray compiler which produced wrong results when full optimisation was on. using assume size arrays fixed it, if I recall well.

[2018-05-27 14:26] stgeke commented on #497
Agreed but it may take a while to do this (a lot of code needs to be changed). In the meantime I'll add the compilation flag. Is the Cray compiler issue #430 fixed?

[2018-05-27 17:57] fischer1 commented on #497
I would propose that we put in the desired value, e.g.,

      subroutine foo(a,b,n)
      real a(n), b(n)

      do i=1,n
           a(i) = func of b(i)
       enddo
       return
       end

If there are routines where this is not clear, then we can use a(*)

Note that there are some openacc() instances where it does not like passing
a scalar into such a routine (i.e., n=1 case).  For example,

[2018-05-27 18:19] misunmin commented on #497
Yes that would be my preference too while openacc requires the length.

________________________________
From: fischer1 <notifications@github.com>
Sent: Sunday, May 27, 2018 12:57:21 PM
To: Nek5000/Nek5000
Cc: Subscribed
Subject: Re: [Nek5000/Nek5000] gfortran 8.1 fails to compile (#497)

I would propose that we put in the desired value, e.g.,

  subroutine foo(a,b,n)
  real a(n), b(n)

  do i=1,n

[2018-05-27 18:46] fischer1 commented on #497
Incidentally,

In your foo example, there is nothing really wrong (of course)---and it seems to me
that the hard-coded parameter-based array declaration must be ok---it should perform
fast because the compiler is being told how big the array is.

The rest is merely a pointer to memory...

So, what I'm saying is that I wouldn't want to do is to replace "real a(lx1*ly1*lz1)"  with "real a(*)"

I can

[2018-05-31 12:28] AtzoriMarco commented on #129
Dear all,
Do you know whether this feature will be available in the future?
Or alternatively, do you have some suggestion/indication about how to extrapolate a forcing defined on Lagrangian points in the spectral-element mesh?
Best Regards,
Marco

[2018-05-31 12:32] stgeke commented on #129
Yes this features will be available in the near future. Probably in v18.1 which will be released the latest end of this year.

[2018-06-07 12:40] fischer1 opened #501 "fintime = nsteps = 0 yet the job keeps running?"
This looks like a bug to me...

[2018-06-07 12:42] fischer1 commented on #501
Never mind------

Code was grabbing .par and ignoring .rea

[2018-06-07 12:42] #501 closed, assigned to nobody

[2018-06-07 16:13] yukkiezy opened #502 "Exo2Nek Sideset issue"
The sideset definition of exodus file from ICEM is not recognized in Exo2Nek. Exo2nek will assign sideset number again by itself regardless of the set up in ICEM. I guess it may has something to do with the key word in ICEM for sideset is SDSET which is different from what' defined in Exo2Nek.

[2018-06-07 17:07] stgeke commented on #502
Can you please attach an example file generate with ICEM.

On 7 Jun 2018, at 11:13, yukkiezy <notifications@github.com <mailto:notifications@github.com> > wrote:

The sideset definition of exodus file from ICEM is not recognized in Exo2Nek. Exo2nek will assign sideset number again by itself regardless of the set up in ICEM. I guess it may has something to do with the key word in ICEM for sideset i

[2018-06-07 17:14] yukkiezy commented on #502
[sidesets.zip](https://github.com/Nek5000/Nek5000/files/2081420/sidesets.zip)
I attached a Hex20 exodus mesh file from ICEM for a tube. The sideset number defined in ICEM is 100 200 and 300 for inlet outlet and wall. It become 2 3 4 in Exo2nek.
Please let me know if more information is needed.

[2018-06-11 19:25] yhaomin2007 commented on #502
Hi, Yukkeizy,

there is some problem with current exo2nek recognize ICEM exo file sideset ID.
exo2nek will assign your sideset to 2,3,4.... according to the time sequence you created sideset in ICEM boundary setting.

but exo2nek could recognize sideset ID correctly if your exo file is exported from CUBIT.
There must be some format difference between exo files exported from ICEM and CUBIT.

Howeve

[2018-06-11 19:31] yukkiezy commented on #502
Kirk,
I think you jump to the conclusion on exo2nek will assign your sideset according to the time sequence you created sideset in ICEM too soon. That's not right based on my test.
Yiqi

[2018-06-12 22:07] ggiannako commented on #502
Converting your binary sidesets.exo to ascii using ncdump shows that indeed the sideset IDs defined are 2, 3, 4 (see attachment). This suggests that something goes wrong when exporting from ICEM. It is hard to believe that ICEM does not comply with the exodusII standard, are you sure you are performing the sideset definition/export step properly? (just a thought, not an ICEM expert)

[sidesets_asc

[2018-06-13 00:32] stgeke commented on #502
Are the IDs (exported by exonek) totally different or just shifted?

[2018-06-13 14:42] stgeke opened #504 "Add support for >2B elements"
- [ ] re2 stores nelgv/nelgt (header) + global elements ids (used for curved sides + periodic BC) as int32
- [ ] nelgt/negv defined as int32
- [ ] dprocmap uses int32 for global element id
- [ ] boomerAMG using BigInt
- [ ] co2/ma2 store vertex IDs as int32 (not really relevant as genmap won't work for this kind of problem sizes anyway)
- [ ] global element id in fld proc map defined as int32

[2018-06-13 15:03] yhaomin2007 commented on #502
exo file exported from ICEM has totally different sideset number.
No matter what sideset number (1,2,3,4 or 1,4,3,2 or 4,2,3,1 ) you set in ICEM,  cubit/exo2nek cannot read correctly.
if you open one of the ICEM files *.fbc, you will see a sequence of all your sidesets you set in ICEM.
cubit/exo2nek will assign sideset 2,3,4... according to that sequence.

[2018-06-13 15:07] yukkiezy commented on #502
The IDS is total different.
So I think there could be two possibility:
1. ncdump miss recognize the sideset ID from ICEM exported exodus,too. If that is the case, we still can do something on exo2nek side to solve this.
2. ICEM exported exodus actually does not contain any ID information assigned in ICEM. If that is the case, we can do nothing but inform ANSYS to fix their mesh output bugs.

[2018-06-13 15:12] ggiannako commented on #502
Again, it is not a matter of the exo2nek conversion, the exodus file itself does not have the sideset IDs specified in ICEM (i.e. it contains IDs 2, 3, 4 instead of 100, 200, 300).

ncdump is part of the netCDF library and has nothing to do with exo2nek, it just converts the binary exodus to ascii.

How can exo2nek know the intended sideset IDs in ICEM if no information is passed to the exodus fil

[2018-06-13 15:43] yhaomin2007 commented on #502
We have a workaround to use exo file exported from ICEM.
I think it is not worthwhile to waste more time on this.
We could not change the source code of ICEM.

[2018-06-13 15:44] yhaomin2007 commented on #502
However, it is good to add a note to exo2nek page to explain how to use exo2nek for ICEM exported exo file.

[2018-06-13 15:56] stgeke commented on #502
What's the workaround?

-----Original message-----

[2018-06-13 15:58] yhaomin2007 commented on #502
if you open one of the ICEM files *.fbc, you will see a sequence of all your sidesets you set in ICEM.
cubit/exo2nek will assign sideset 2,3,4... according to that sequence.

[2018-06-13 16:13] yukkiezy commented on #502
I think we are done with this issue for now. Just put some instruction on ICEM mesh exporting will work for release. .I will submit another issue on slow conversion with exo2nek for larger case as soon as I finished some test myself.

[2018-06-17 23:04] kmittal2 opened #507 "ngeom > 2 for moving NekNek mesh stops at igeom = 3"
At https://github.com/Nek5000/Nek5000/blob/master/core/drive2.f#L399, we generate mesh3 as long as it is not a moving NekNek case.. As a result, if we are doing ngeom > 2, this routine is not called and the simulation stops at igeom = 3. A better alternative would be to do:
`if (ifneknekm) return`
`CALL GENCOOR (XM3,YM3,ZM3)` ?

[2018-06-18 10:51] stgeke commented on #502
Can we detect somehow that the exo file was exported from ICEM and read the fbc file. Just want to make it eady for the user. Other ideas are welcome!

[2018-06-18 12:27] stgeke commented on #497
Fixed in https://github.com/Nek5000/Nek5000/commit/b635b29f681617eceda3a8b11abb47e8c4ac2253

[2018-06-18 12:27] #497 closed, assigned to nobody

[2018-06-18 12:27] stgeke commented on #480
Fixed in https://github.com/Nek5000/Nek5000/commit/b635b29f681617eceda3a8b11abb47e8c4ac2253

[2018-06-18 12:27] #480 closed, assigned to nobody

[2018-06-18 12:29] stgeke commented on #413
Implemented in https://github.com/Nek5000/Nek5000/commit/f0a6dd029cd2116fbfdbb1f6e7bfbfdd1808d86a

[2018-06-18 12:29] #413 closed, assigned to nobody

[2018-06-18 12:31] stgeke commented on #412
Added as experimental feature in https://github.com/Nek5000/Nek5000/commit/b635b29f681617eceda3a8b11abb47e8c4ac2253

[2018-06-18 12:31] #412 closed, assigned to nobody

[2018-06-25 16:22] RonRahaman opened #509 "reatore2 workflow"
I'm attempting to convert a mesh from `.rea` to `.re2`, but I'm running into some issues when I run Nek.

I went back to the eddy example, but I'm still getting problems.  When I get to running Nek, it tries to read from `casename.rea` instead of `casename.re2`.

Here are the steps I took:
[code]

The error is:
[code]
As you can see, it's trying to read `eddy_uv_new.rea` instead of `eddy_uv_new.re

[2018-06-25 18:03] RonRahaman commented on #509
I'm closing this b/c I was misusing genmap.

[2018-06-25 18:03] #509 closed, assigned to nobody

[2018-06-26 12:47] stgeke opened #510 "Add dp/dt support to NEKNEK"

[2018-06-26 12:54] stgeke commented on #507
@fischer1 What do you think?

I am also not sure how to support ngeom > 2 for passive scalars solved with CVODE.

[2018-06-27 14:49] GerritBotha opened #511 "re2torea - unknown nel in buf_to_curve"
Hi Neks

Have been looking into converting large mesh .re2 to .rea. When outputting the rea file there is not enough space allocated for the element size. I have found than nel (the number of elements in the mesh) is not passed to buf_to_curve routine to determine the size of the format allocation.

Regards

[2018-06-27 15:23] fischer1 commented on #511
Gerrit,

How large?

________________________________
From: GerritBotha [notifications@github.com]
Sent: Wednesday, June 27, 2018 9:49 AM
To: Nek5000/Nek5000
Cc: Subscribed
Subject: [Nek5000/Nek5000] re2torea (#511)

Hi Neks

Have been looking into converting large mesh .re2 to .rea. When outputting the rea file there is not enough space allocated for the element size. I have found than nel (the n

[2018-06-27 17:01] GerritBotha commented on #511
Paul

At the moment +200K elements.

In re2torea.f there is a check that changes the format depending on the size of nel, the first is nel<1000, but nel is never passed, so it always defaults to the smallest format.

[2018-06-29 10:05] ggiannako opened #513 "Add support for different relative tolerance in each CVODE scalar"

[2018-06-29 10:25] stgeke opened #514 "Support CVODE for NEKNEK and ngeom>2"

[2018-06-29 10:26] stgeke commented on #510
Replaced by #514

[2018-06-29 10:26] #510 closed, assigned to nobody

[2018-06-29 10:28] stgeke commented on #514
In this case we have to do neknek sub-iterations for every internal CVODE step. At this point it's not clear to me how to do this.

[2018-06-29 10:46] stgeke commented on #511
Good catch Gerrit! Indeed nel is unknown in buf_to_curve().

[2018-06-29 10:48] stgeke commented on #474
@ggiannako @ananiast Can you please update me on this.

[2018-06-29 11:00] ggiannako commented on #513
For low-Ma + dp/dt cases, using a relTol=1e-06 we get a significant (accumulating) error in mass. To compute the correct p0th (and, as a consequence rho=p0th/temp) we need to set relTol to at least 1e-08, which is obviously VERY expensive for production runs.

According to the CVODE v.2.9.0 manual, it looks to me that we can directly specify a vector containing the weights in the WRMS norm instead

[2018-06-30 05:18] AjitPanja opened #515 "Capability of Nek5000"
Hello. I am completely new to nek5000. I have some queries regarding the capability of this open source spectral code. Is nek5000 capable of simulating isothermal turbulent mixing of two fluids? Is it also capable of simulations with variable fluid  property? Thanks in advance.

[2018-06-30 11:04] stgeke commented on #515
Please use our mailing list for question like this. For more informations see DOCS->FAQ on our webpage.

[2018-06-30 11:04] #515 closed, assigned to nobody

[2018-07-05 08:35] stgeke opened #516 "Add an option to use the extrapolated solution in uservp"

[2018-07-05 21:05] jedbrown opened #517 "genbox broken with gfortran-8.1"
[code]

Cc: @thilinarmtb

[2018-07-05 21:20] jedbrown commented on #517
My apologies. This seems to have been caused by stale object files, but I'm not going back to reproduce why they were not cleaned.

[2018-07-05 21:20] #517 closed, assigned to nobody

[2018-07-09 00:16] KennellyT opened #518 "get_unit(): Bad internal unit KIND"
Hey,
I recently downloaded and installed nek5000 onto my computer and tried to run a example [case](https://nek5000.mcs.anl.gov/files/2015/09/NEK_doc.pdf). After calling:
./nekbmpi eddy_uv 2
I received:
mv: cannot stat 'eddy_uv.log.2': No such file or directory
mv: cannot stat 'eddy_uv.sch': No such file or directory
At line 349 of file /home/tyler/nek5_svn/trunk/nek/connect2.f
Internal Error: get

[2018-07-09 07:09] stgeke commented on #518
It looks like this is an old svn version? Make sure you download the latest release from our website available at https://nek5000.mcs.anl.gov

[2018-07-09 15:28] KennellyT commented on #518
Hey @stgeke,
After unistalling the old svn version of Nek5000, I followed the instructions via the instructions. I was able to reach:
`nekbmpi eddy_uv 2`
where received this error:
`At line 171 of file /home/tyler/Nek5000/core/reader_rea.f`
`Internal Error: get_unit(): Bad internal unit KIND`
`At line 171 of file /home/tyler/Nek5000/core/reader_rea.f`
`Internal Error: get_unit(): Bad internal unit

[2018-07-12 01:10] KennellyT commented on #518
Update: After moving my gcc, g, and gfortran versions to 4.8, the error still occurs.

[2018-07-12 07:29] stgeke commented on #518
Can you try again with a more recent version e.g gcc v6.x

[2018-08-02 14:09] fischer1 opened #522 "double precision in avg_out"
Should we default to real*8 output for the avg/rms/rm2 files?

It seems that the truncation of  <u^2> and <u> to 32-bit can lead to negative variances
on the order of -1.e-7 when computing

  <u^2> - <u>^2

as a postprocessing step.

Here is an example of how a user could do it, but probably better to do it inside avg_all?

c     Turbulence statistics

      iastep    = 50

      param(68) = iaste

[2018-08-02 15:13] pschlatt1 commented on #522
I would clearly say yes. In our 2D and 3D version of the statistics we use real*8.

[2018-08-02 21:16] anshchaube commented on #518
@stgeke This error occurs with gcc 6.4 as well

[2018-08-03 09:20] stgeke commented on #518
Hmm ... I was not able to reproduce this with 6.2. Can you please tell me more (OS, MPI, ...) about your system.

[2018-08-03 17:10] anshchaube commented on #518
OS - Ubuntu 16.04
gfortran version - 5.4.0
mpich - 3.2-6build1
HYDRA build details:
    Version:                                 1.4.1p1

[2018-08-04 11:38] stgeke commented on #518
You're using gfortran 5.4 but you tried 6.4 as well right?

[2018-08-06 18:05] anshchaube commented on #518
Yes, I tried it with 6.4, 7.3, 4.8 and 4.4. Got the same error.

[2018-08-06 18:24] anshchaube commented on #518
With gfortran 8.1 I get the following after running genmap:
`Segmentation fault (core dumped)`

[2018-08-06 18:46] stgeke commented on #518
Hmm 6.4 works for me. Are you using mpif77 to compile Nek5000? Can you please double check that the MPI wrapper does indeed use the right compiler version.

On 6 Aug 2018, at 20:05, Ansh Chaube <notifications@github.com <mailto:notifications@github.com> > wrote:

Yes, I tried it with 6.4 and 7.3. Got the same error.

—
You are receiving this because you were mentioned.
Reply to this email directly

[2018-08-06 18:47] stgeke commented on #518
Please add a new issue for this.

On 6 Aug 2018, at 20:25, Ansh Chaube <notifications@github.com <mailto:notifications@github.com> > wrote:

With gfortran 8.1 I get the following after running genmap:
Segmentation fault (core dumped)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-07 18:54] anshchaube commented on #518
Not sure if this provides all the information you need, but I ran the following command: `mpif77 -v` and I got:

[code]

[2018-08-08 02:31] anshchaube opened #524 "genmap > Segmentation fault with gfortran 8.1"
With gfortran 8.1 I get the following after running genmap on the eddy_uv example:
`Segmentation fault (core dumped)`

[2018-08-16 16:40] lleonaw opened #525 "Low pass filtering for the scalar field and iffilter(ifield)"
The iffilter(ifield) check in subroutine q_filter only checks with ifield = 1. Whether the temperature field is filtered or not is dependent on ifheat, not iffilter(2).

[2018-08-19 13:22] stgeke commented on #524
I cannot reproduce this. Just tested 8.1 and 8.2.1 and both worked without a problem.

[2018-08-19 13:38] stgeke commented on #518
What eddy case is this? The one in short_tests?
Can you please run e.g. Nek5000/short_tests/ethier and tell me if this works for you.

[2018-08-24 17:25] fischer1 opened #527 "Bug in drive2.f w.r.t. igeom=3 and dssum(xm3, etc)"
There is a piece of ancient code (from at least 2008) in drive2.f where there is
dssum(xm3, ...), etc.    It should be deleted --- you cannot dssum geometry because
geometry is not a periodic function.  (This code generated by pff prior to 2008...probably
for some one-off need...)

Here are the lines that should be deleted

         if (ifheat) then
            ifield = 2
            CALL dssum(xm

[2018-08-29 18:20] anshchaube commented on #518
The problem seems to have been caused by a mismatch in gfortran, gcc and g++ versions. Changing them all to v7 fixed the problem. I think #524 is caused by this as well.

[2018-08-29 18:34] stgeke commented on #518
Thanks for the update.

[2018-08-29 18:34] #518 closed, assigned to nobody

[2018-08-29 18:34] #524 closed, assigned to nobody

[2018-08-30 16:50] kmittal2 opened #529 "ms_glsc2 returning integer"
I have noticed on my mac that ms_glsc2 returns an integer even if I declare the variable (output) and the function (ms_glsc2) as real. [https://github.com/Nek5000/Nek5000/blob/master/core/math.f#L1688](url)

For example:
if I have the following functions in math.f:
`      real function ms_glsc2(a,b,n)`
`      include 'SIZE'`
`      real a(1),b(1)`

`      call setnekcomm(iglobalcomm)`
`      ms_gl

[2018-08-30 16:52] kmittal2 commented on #507
#527

[2018-08-30 17:09] stgeke commented on #529
For the moment you have to define ms_glsc2 as real wherever it’s getting used. We will explicitly define all functions through SIZE.inc in all future releases.

On 30 Aug 2018, at 18:52, k10 <notifications@github.com <mailto:notifications@github.com> > wrote:

I have noticed on my mac that ms_glsc2 returns an integer even if I declare the variable (output) and the function (ms_glsc2) as real. http

[2018-08-30 17:11] stgeke commented on #507
Is this issue identical or only related to #527?

On 30 Aug 2018, at 18:52, k10 <notifications@github.com <mailto:notifications@github.com> > wrote:

#527

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-30 17:12] kmittal2 commented on #507
It is related to #527

[2018-08-30 17:45] stgeke commented on #507
Can you please explain a little more in detail.

On 30 Aug 2018, at 19:16, k10 <notifications@github.com <mailto:notifications@github.com> > wrote:

It is related to #527

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-30 22:53] fischer1 opened #530 "Check if ifheat=T and rhocp (param(8)) = 0."
We should probably check when ifheat=T to make sure that p8 .ne. 0

Otherwise, it messes up the velocity field...   :(

[2018-08-31 14:35] kmittal2 commented on #507
They are from the same routine, and issue 527 came up while discussing this issue.. I thought we could probably address them in the same PR.

[2018-08-31 15:09] stgeke commented on #507
These are two different issues so let's treat them separately.

[2018-09-02 09:59] stgeke commented on #529
Looks like those functions are already defined in PARALLEL. Did you include PARALLEL?

[2018-09-03 14:04] kmittal2 commented on #529
Yes, I had included Total which includes Parallel.

Ketan

________________________________
From: Stefan K. [notifications@github.com]
Sent: Sunday, September 02, 2018 4:59 AM
To: Nek5000/Nek5000
Cc: Mittal, Ketan; Author
Subject: Re: [Nek5000/Nek5000] ms_glsc2 returning integer (#529)

Looks like those functions are already defined in PARALLEL. Did you include PARALLEL?

—
You are receiving this

[2018-09-07 18:54] kmittal2 commented on #471
Did you ever get a chance to look into this? I just tried it on a cht case, and seems like it works.

[2018-09-07 18:58] stgeke commented on #471
Yes this is fixed in the upcoming version.

On 7 Sep 2018, at 20:53, k10 <notifications@github.com <mailto:notifications@github.com> > wrote:

Did you ever get a chance to look into this? I just tried it on a cht case, and seems like it works.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-11 18:51] kmittal2 opened #532 "usrdiv being added to qtl in pn-pn for all igeom > 1"
In Plan4 (https://github.com/Nek5000/Nek5000/blob/master/core/plan4.f#L55): 'call add2 (qtl,usrdiv,ntot1)' for all igeom > 1. In a case with non-zero usrdiv and ngeom > 2, this will keep adding usrdiv to qtl. One specific case that comes to mind is when ngeom > 2 and  turb_Outflow is called in userchk.

[2018-09-13 22:08] misunmin opened #533 "missing gs-handle setup for DG"
call fgslib_gs_op(dg_hndlx,uf,1,1,0)  ! 1 ==> +  :   uf <-- uf^- + uf^+

Seems we are missing setup routine for dg_hndlx.

[2018-09-19 19:02] misunmin opened #534 "use runtime parameter for max iteration counts for each field"
Flexibly assigning "max iteration #" possible for each field, provided by the user (either static or time-varying in usr file, not as param) instead of the following :

In drive2.f:
 -- line 190       NMXH   = 1000
 -- line 191       if (iftran) NMXH   = 100

ps: Initiated with Yu-Hsiang and developed primary discussion with P. F.

[2018-09-19 19:07] misunmin opened #535 "Restart accuracy issues"

[2018-09-19 20:46] #511 closed, assigned to nobody

[2018-09-19 20:46] #525 closed, assigned to nobody

[2018-09-19 20:47] stgeke commented on #529
Fixed in #520

[2018-09-19 20:47] #529 closed, assigned to nobody

[2018-09-19 20:47] stgeke commented on #527
Fixed in #520

[2018-09-19 20:47] #527 closed, assigned to nobody

[2018-09-19 20:48] stgeke commented on #522
Implement in #520

[2018-09-19 20:48] #522 closed, assigned to nobody

[2018-09-19 20:49] stgeke commented on #471
Implement in #520

[2018-09-19 20:49] #471 closed, assigned to stgeke

[2018-09-19 20:50] #354 closed, assigned to nobody

[2018-09-19 20:51] stgeke commented on #364
Closing this, project doesn't seem to be active.

[2018-09-19 20:51] #364 closed, assigned to nobody

[2018-09-19 20:52] stgeke commented on #313
Can we close this?

[2018-09-19 20:53] stgeke commented on #88
Can somebody please update me on this otherwise I am closing this issue for now.

[2018-09-20 02:26] pschlatt1 commented on #88
yes, can be closed. The relevant code was in PR #141 and the corresponding example in #337.

[2018-09-20 02:48] kmittal2 opened #536 "bcdirsc uses tmask but is called by plan4.f"
Plan4 calls bcdirsc to apply boundary condition for pressure, but bcdirsc uses tmask (instead of pmask for pressure).

https://github.com/Nek5000/Nek5000/blob/master/core/plan4.f#L179
https://github.com/Nek5000/Nek5000/blob/master/core/bdry.f#L709

[2018-09-20 03:56] #88 closed, assigned to nobody

[2018-09-20 21:37] kmittal2 commented on #532
We should be zeroing out qtl at all igeom > 2
https://github.com/Nek5000/Nek5000/blob/master/core/drive1.f#L318

[2018-10-03 19:15] rajeeja opened #538 "exo2nek error: Increase MAXNEL and compile error"
I changed the maketools file to increase MAXNEL.
diff --git a/tools/maketools b/tools/maketools
index ea425e0..3d6ace9 100755
--- a/tools/maketools
+++ b/tools/maketools
@@ -1,7 +1,7 @@
 #!/bin/bash

 # maximum number of elements
-#MAXNEL=150000
+MAXNEL=850000

Now compiling the tool, I get this error:

[code]

It seems like if the code is already compiled and recompiled, there is no error -> but

[2018-10-03 21:21] stgeke commented on #538
The .text section seems to exceed the 2GB limit, so you have to compile with mcmodel=large. We will fix this differently in the next release.

[2018-10-05 20:16] eklunm opened #539 "exo2nek fail to build with laster master"
I haven't been able to correctly compile the "exo2nek" script in the "tools" folder.

I tried running "./maketools exo2nek" as is instructed, using gcc, but it never compiles correctly. It originally said my version of CMake was too low, so I downloaded and installed CMake 3.12.2, and the error disappeared. However, the script still refuses to completely compile, and I don't know what is causing t